<?xml version='1.0' encoding='windows-1251' ?>
<Wix xmlns='http://schemas.microsoft.com/wix/2003/01/wi'
     xmlns:netfx='http://schemas.microsoft.com/wix/NetFxExtension'
>
	<Fragment Id='Files.wxs'>
		<DirectoryRef Id='INSTALLDIR'>
			<Component Id='C363' Guid='dfb0c36e-c1f0-43c8-bb8b-9ec3f79be6c7'>
				<File
					Id='I363'
					Name='N363'
					KeyPath='yes'
					LongName='WhatsNew.txt'
					Source='..\WhatsNew.txt'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR'>
			<Component Id='C364' Guid='6dd83a6f-bd11-4608-9446-a2a9ab058abe'>
				<File
					Id='I364'
					Name='N364'
					KeyPath='yes'
					LongName='Readme.txt'
					Source='INSTALLDIR\Readme.txt'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<ComponentGroup Id='all'>
			<ComponentRef Id='C363'/>
			<ComponentRef Id='C364'/>
		</ComponentGroup>
	</Fragment>
</Wix>