<?xml version='1.0' encoding='windows-1251' ?>
<Wix xmlns='http://schemas.microsoft.com/wix/2003/01/wi'
     xmlns:netfx='http://schemas.microsoft.com/wix/NetFxExtension'
>
	<Fragment Id='Files.wxs'>
		<DirectoryRef Id='INSTALLDIR'>
			<Component Id='C709' Guid='a0b48119-0e40-4913-8f8c-0ff0008febd3'>
				<File
					Id='I709'
					Name='N709'
					KeyPath='yes'
					LongName='Readme.txt'
					Source='..\Readme.txt'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR'>
			<Component Id='C710' Guid='915f9a72-be04-4a02-b1f2-40b90dc98263'>
				<File
					Id='I710'
					Name='N710'
					KeyPath='yes'
					LongName='WhatsNew.txt'
					Source='..\WhatsNew.txt'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<ComponentGroup Id='all'>
			<ComponentRef Id='C709'/>
			<ComponentRef Id='C710'/>
		</ComponentGroup>
	</Fragment>
</Wix>