<?xml version='1.0' encoding='windows-1251' ?>
<Wix xmlns='http://schemas.microsoft.com/wix/2003/01/wi'
     xmlns:netfx='http://schemas.microsoft.com/wix/NetFxExtension'
>
	<Fragment Id='Files.wxs'>
		<DirectoryRef Id='INSTALLDIR'>
			<Component Id='C3983' Guid='514313cc-2d6e-4da6-b9a7-98b60d529636'>
				<File
					Id='I3983'
					Name='N3983'
					KeyPath='yes'
					LongName='Readme.txt'
					Source='..\Readme.txt'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR'>
			<Component Id='C3984' Guid='dd397ae6-8d1b-4f8d-b182-d31131a26f1d'>
				<File
					Id='I3984'
					Name='N3984'
					KeyPath='yes'
					LongName='WhatsNew.txt'
					Source='..\WhatsNew.txt'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<ComponentGroup Id='all'>
			<ComponentRef Id='C3983'/>
			<ComponentRef Id='C3984'/>
		</ComponentGroup>
	</Fragment>
</Wix>