<?xml version='1.0' encoding='windows-1251' ?>
<Wix xmlns='http://schemas.microsoft.com/wix/2003/01/wi'
     xmlns:netfx='http://schemas.microsoft.com/wix/NetFxExtension'
>
	<Fragment Id='Files.wxs'>
		<DirectoryRef Id='INSTALLDIR_Samples'>
			<Component Id='C348' Guid='bd5fb654-b0b8-452b-b1e5-1d91b318ea81'>
				<File
					Id='I348'
					Name='N348'
					KeyPath='yes'
					LongName='MDXFormatter.exe'
					Source='..\..\Binaries\Release\MDXFormatter.exe'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples'>
			<Component Id='C349' Guid='c0d378fc-1c81-4be7-892c-46adce881681'>
				<File
					Id='I349'
					Name='N349'
					KeyPath='yes'
					LongName='MdxFormatter.html'
					Source='..\..\Binaries\Release\MdxFormatter.html'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples'>
			<Component Id='C350' Guid='944d0831-34b8-426b-a369-96948dd673b4'>
				<File
					Id='I350'
					Name='N350'
					KeyPath='yes'
					LongName='MdxFormatter.xap'
					Source='..\..\Binaries\Release\MdxFormatter.xap'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples'>
			<Component Id='C351' Guid='4eb49f34-2ff6-4375-abce-e62785a4baf3'>
				<File
					Id='I351'
					Name='N351'
					KeyPath='yes'
					LongName='Ranet.Olap.Mdx.dll'
					Source='..\..\Binaries\Release\Ranet.Olap.Mdx.dll'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples'>
			<Component Id='C352' Guid='4233f151-cabb-4ee2-85d2-bae61471c238'>
				<File
					Id='I352'
					Name='N352'
					KeyPath='yes'
					LongName='MdxSample.mdx'
					Source='..\..\Binaries\Release\MdxSample.mdx'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<ComponentGroup Id='all'>
			<ComponentRef Id='C348'/>
			<ComponentRef Id='C349'/>
			<ComponentRef Id='C350'/>
			<ComponentRef Id='C351'/>
			<ComponentRef Id='C352'/>
		</ComponentGroup>
	</Fragment>
</Wix>