<?xml version='1.0' encoding='windows-1251' ?>
<Wix xmlns='http://schemas.microsoft.com/wix/2003/01/wi'
     xmlns:netfx='http://schemas.microsoft.com/wix/NetFxExtension'
>
	<Fragment Id='Files.wxs'>
		<DirectoryRef Id='INSTALLDIR_Samples'>
			<Component Id='C174' Guid='81cc2790-77c8-4de2-8854-6517b23d502e'>
				<File
					Id='I174'
					Name='N174'
					KeyPath='yes'
					LongName='MDXFormatter.exe'
					Source='..\..\Binaries\Release\MDXFormatter.exe'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples'>
			<Component Id='C175' Guid='fdb7b9d0-e200-416e-a7c5-57205c8e6311'>
				<File
					Id='I175'
					Name='N175'
					KeyPath='yes'
					LongName='MdxFormatter.html'
					Source='..\..\Binaries\Release\MdxFormatter.html'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples'>
			<Component Id='C176' Guid='8612542a-0f82-421d-816a-ceca628465b9'>
				<File
					Id='I176'
					Name='N176'
					KeyPath='yes'
					LongName='MdxFormatter.xap'
					Source='..\..\Binaries\Release\MdxFormatter.xap'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples'>
			<Component Id='C177' Guid='37d686b8-f16c-45b9-b8bf-7cca6f971d8f'>
				<File
					Id='I177'
					Name='N177'
					KeyPath='yes'
					LongName='Ranet.Olap.Mdx.dll'
					Source='..\..\Binaries\Release\Ranet.Olap.Mdx.dll'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples'>
			<Component Id='C178' Guid='df70ef77-d282-494b-9535-4a486a4bedf8'>
				<File
					Id='I178'
					Name='N178'
					KeyPath='yes'
					LongName='MdxSample.mdx'
					Source='..\..\Binaries\Release\MdxSample.mdx'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<ComponentGroup Id='all'>
			<ComponentRef Id='C174'/>
			<ComponentRef Id='C175'/>
			<ComponentRef Id='C176'/>
			<ComponentRef Id='C177'/>
			<ComponentRef Id='C178'/>
		</ComponentGroup>
	</Fragment>
</Wix>