<?xml version='1.0' encoding='windows-1251' ?>
<Wix xmlns='http://schemas.microsoft.com/wix/2003/01/wi'
     xmlns:netfx='http://schemas.microsoft.com/wix/NetFxExtension'
>
	<Fragment Id='Files.wxs'>
		<DirectoryRef Id='INSTALLDIR_Samples_MdxFormatter.SilverLight'>
			<Component Id='C533' Guid='44df087b-ecd5-4221-afb1-02a68bc913d6'>
				<File
					Id='I533'
					Name='N533'
					KeyPath='yes'
					LongName='App.xaml.cs'
					Source='INSTALLDIR\Samples\MdxFormatter.SilverLight\App.xaml.cs'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_MdxFormatter.SilverLight'>
			<Component Id='C534' Guid='5eff518f-a26f-49e9-930c-de88a34f6d74'>
				<File
					Id='I534'
					Name='N534'
					KeyPath='yes'
					LongName='MainPage.xaml.cs'
					Source='INSTALLDIR\Samples\MdxFormatter.SilverLight\MainPage.xaml.cs'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_MdxFormatter.SilverLight_Properties'>
			<Component Id='C535' Guid='be9f186e-a456-4c49-b190-2435e5666cbc'>
				<File
					Id='I535'
					Name='N535'
					KeyPath='yes'
					LongName='AssemblyInfo.cs'
					Source='INSTALLDIR\Samples\MdxFormatter.SilverLight\Properties\AssemblyInfo.cs'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_MdxFormatter'>
			<Component Id='C536' Guid='ff9409c9-fbf2-41d2-b31c-ab9768fc4fdd'>
				<File
					Id='I536'
					Name='N536'
					KeyPath='yes'
					LongName='Program.cs'
					Source='INSTALLDIR\Samples\MdxFormatter\Program.cs'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_MdxFormatter_Properties'>
			<Component Id='C537' Guid='c0899184-ca08-4ade-95f4-963d46bdbcd3'>
				<File
					Id='I537'
					Name='N537'
					KeyPath='yes'
					LongName='AssemblyInfo.cs'
					Source='INSTALLDIR\Samples\MdxFormatter\Properties\AssemblyInfo.cs'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_MdxFormatter.SilverLight'>
			<Component Id='C538' Guid='cd1c6538-b66e-444b-b0a8-e416b7dc76e9'>
				<File
					Id='I538'
					Name='N538'
					KeyPath='yes'
					LongName='MdxFormatter.html'
					Source='INSTALLDIR\Samples\MdxFormatter.SilverLight\MdxFormatter.html'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_MdxFormatter.SilverLight_Properties'>
			<Component Id='C539' Guid='49192322-622a-48ee-bfee-eda48cbdc956'>
				<File
					Id='I539'
					Name='N539'
					KeyPath='yes'
					LongName='AppManifest.xml'
					Source='INSTALLDIR\Samples\MdxFormatter.SilverLight\Properties\AppManifest.xml'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples'>
			<Component Id='C540' Guid='43c0bfe7-82fb-468e-bb9f-bd30823e3100'>
				<File
					Id='I540'
					Name='N540'
					KeyPath='yes'
					LongName='Ranet.UILibrary.Olap.Samples.sln'
					Source='INSTALLDIR\Samples\Ranet.UILibrary.Olap.Samples.sln'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_MdxFormatter.SilverLight'>
			<Component Id='C541' Guid='8722cf0e-bca8-4d87-8858-7624b81cf50a'>
				<File
					Id='I541'
					Name='N541'
					KeyPath='yes'
					LongName='TestKey.snk'
					Source='INSTALLDIR\Samples\MdxFormatter.SilverLight\TestKey.snk'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_MdxFormatter'>
			<Component Id='C542' Guid='4ddce99b-ab96-4b62-90de-b9ff4b02583b'>
				<File
					Id='I542'
					Name='N542'
					KeyPath='yes'
					LongName='MdxSample.mdx'
					Source='INSTALLDIR\Samples\MdxFormatter\MdxSample.mdx'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_MdxFormatter'>
			<Component Id='C543' Guid='17e91d3e-fd67-45fe-b60a-279ae3513a8e'>
				<File
					Id='I543'
					Name='N543'
					KeyPath='yes'
					LongName='MdxSample00.mdx'
					Source='INSTALLDIR\Samples\MdxFormatter\MdxSample00.mdx'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_MdxFormatter'>
			<Component Id='C544' Guid='b01653a2-b25e-4e2f-ac59-b6a873e83160'>
				<File
					Id='I544'
					Name='N544'
					KeyPath='yes'
					LongName='MdxSample01.mdx'
					Source='INSTALLDIR\Samples\MdxFormatter\MdxSample01.mdx'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_MdxFormatter'>
			<Component Id='C545' Guid='7c3f1312-1ad6-4428-a093-130f674b7f03'>
				<File
					Id='I545'
					Name='N545'
					KeyPath='yes'
					LongName='MdxSample02.mdx'
					Source='INSTALLDIR\Samples\MdxFormatter\MdxSample02.mdx'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_MdxFormatter'>
			<Component Id='C546' Guid='c008e294-b0a5-4c26-8ed3-ed709a403f91'>
				<File
					Id='I546'
					Name='N546'
					KeyPath='yes'
					LongName='TestKey.snk'
					Source='INSTALLDIR\Samples\MdxFormatter\TestKey.snk'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_MdxFormatter.SilverLight'>
			<Component Id='C547' Guid='e8278564-a87a-421a-9c13-37f1985e89e5'>
				<File
					Id='I547'
					Name='N547'
					KeyPath='yes'
					LongName='App.xaml'
					Source='INSTALLDIR\Samples\MdxFormatter.SilverLight\App.xaml'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_MdxFormatter.SilverLight'>
			<Component Id='C548' Guid='38bc1573-4081-49a0-a723-a42649ad52be'>
				<File
					Id='I548'
					Name='N548'
					KeyPath='yes'
					LongName='AppManifest.xaml'
					Source='INSTALLDIR\Samples\MdxFormatter.SilverLight\AppManifest.xaml'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_MdxFormatter.SilverLight'>
			<Component Id='C549' Guid='02b4176d-f571-4b9c-b4d0-53997822921e'>
				<File
					Id='I549'
					Name='N549'
					KeyPath='yes'
					LongName='MainPage.xaml'
					Source='INSTALLDIR\Samples\MdxFormatter.SilverLight\MainPage.xaml'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_MdxFormatter.SilverLight'>
			<Component Id='C550' Guid='53d48d62-4154-46b4-9dd3-912afe34e311'>
				<File
					Id='I550'
					Name='N550'
					KeyPath='yes'
					LongName='MdxFormatter.SilverLight.csproj'
					Source='INSTALLDIR\Samples\MdxFormatter.SilverLight\MdxFormatter.SilverLight.csproj'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_MdxFormatter'>
			<Component Id='C551' Guid='232b379f-ef65-420e-8072-dfd76c0f8308'>
				<File
					Id='I551'
					Name='N551'
					KeyPath='yes'
					LongName='MdxFormatter.csproj'
					Source='INSTALLDIR\Samples\MdxFormatter\MdxFormatter.csproj'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Silverlight_Properties'>
			<Component Id='C552' Guid='fa6ceabd-502d-4daa-90e9-a155bddf7d85'>
				<File
					Id='I552'
					Name='N552'
					KeyPath='yes'
					LongName='AppManifest.xml'
					Source='INSTALLDIR\Samples\UITest.Silverlight\Properties\AppManifest.xml'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Silverlight'>
			<Component Id='C553' Guid='543a6e84-0479-44fc-897e-5131e3f49d43'>
				<File
					Id='I553'
					Name='N553'
					KeyPath='yes'
					LongName='UITest.Silverlight.csproj'
					Source='INSTALLDIR\Samples\UITest.Silverlight\UITest.Silverlight.csproj'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Web'>
			<Component Id='C554' Guid='8d82ae0d-a89a-4933-a117-e442c2634bc8'>
				<File
					Id='I554'
					Name='N554'
					KeyPath='yes'
					LongName='OlapWebService.asmx'
					Source='INSTALLDIR\Samples\UITest.Web\OlapWebService.asmx'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Web'>
			<Component Id='C555' Guid='560660d5-401e-4704-b469-0c81732ab96b'>
				<File
					Id='I555'
					Name='N555'
					KeyPath='yes'
					LongName='Silverlight.js'
					Source='INSTALLDIR\Samples\UITest.Web\Silverlight.js'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Web'>
			<Component Id='C556' Guid='d5f6e67e-6c91-4846-a20b-85ba60f4dc2e'>
				<File
					Id='I556'
					Name='N556'
					KeyPath='yes'
					LongName='UITest.Web.csproj'
					Source='INSTALLDIR\Samples\UITest.Web\UITest.Web.csproj'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Silverlight'>
			<Component Id='C557' Guid='5bec4ec6-0e32-4c60-ba2f-f3ae528fce1c'>
				<File
					Id='I557'
					Name='N557'
					KeyPath='yes'
					LongName='App.xaml.cs'
					Source='INSTALLDIR\Samples\UITest.Silverlight\App.xaml.cs'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Silverlight'>
			<Component Id='C558' Guid='c8c5a105-cfed-4a13-abd2-44a25f09875a'>
				<File
					Id='I558'
					Name='N558'
					KeyPath='yes'
					LongName='Page.xaml.cs'
					Source='INSTALLDIR\Samples\UITest.Silverlight\Page.xaml.cs'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Silverlight_Properties'>
			<Component Id='C559' Guid='65666897-bd32-45b7-a9d8-6a225af59bf2'>
				<File
					Id='I559'
					Name='N559'
					KeyPath='yes'
					LongName='AssemblyInfo.cs'
					Source='INSTALLDIR\Samples\UITest.Silverlight\Properties\AssemblyInfo.cs'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Web'>
			<Component Id='C560' Guid='b4922e10-0362-4d19-9a24-30565682610e'>
				<File
					Id='I560'
					Name='N560'
					KeyPath='yes'
					LongName='OlapWebService.asmx.cs'
					Source='INSTALLDIR\Samples\UITest.Web\OlapWebService.asmx.cs'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Web_Properties'>
			<Component Id='C561' Guid='92180e66-3012-4a19-acfa-4dec349b095e'>
				<File
					Id='I561'
					Name='N561'
					KeyPath='yes'
					LongName='AssemblyInfo.cs'
					Source='INSTALLDIR\Samples\UITest.Web\Properties\AssemblyInfo.cs'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Silverlight'>
			<Component Id='C562' Guid='8cdd4e8a-0be4-455a-b270-d7efb9f241f2'>
				<File
					Id='I562'
					Name='N562'
					KeyPath='yes'
					LongName='Config.cs'
					Source='INSTALLDIR\Samples\UITest.Silverlight\Config.cs'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Silverlight'>
			<Component Id='C563' Guid='8559f34d-ba23-477a-a9bc-43daf0286403'>
				<File
					Id='I563'
					Name='N563'
					KeyPath='yes'
					LongName='evPivotGrid.cs'
					Source='INSTALLDIR\Samples\UITest.Silverlight\evPivotGrid.cs'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Silverlight'>
			<Component Id='C564' Guid='7d55e559-1345-42e8-a94b-cecb658af305'>
				<File
					Id='I564'
					Name='N564'
					KeyPath='yes'
					LongName='evChoices.cs'
					Source='INSTALLDIR\Samples\UITest.Silverlight\evChoices.cs'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Silverlight'>
			<Component Id='C565' Guid='e88aa61d-d6e0-41e0-9f08-95ce85856980'>
				<File
					Id='I565'
					Name='N565'
					KeyPath='yes'
					LongName='evConfig.cs'
					Source='INSTALLDIR\Samples\UITest.Silverlight\evConfig.cs'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Silverlight'>
			<Component Id='C566' Guid='901195da-0135-4a9f-a714-eb74dabb2770'>
				<File
					Id='I566'
					Name='N566'
					KeyPath='yes'
					LongName='evGauge.cs'
					Source='INSTALLDIR\Samples\UITest.Silverlight\evGauge.cs'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Silverlight'>
			<Component Id='C567' Guid='d8f7a446-12dc-44a4-afd7-f223e41e7754'>
				<File
					Id='I567'
					Name='N567'
					KeyPath='yes'
					LongName='evMdxDesigner.cs'
					Source='INSTALLDIR\Samples\UITest.Silverlight\evMdxDesigner.cs'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Silverlight'>
			<Component Id='C568' Guid='cde2b33f-d9a5-4218-a6e4-c027f77fac0f'>
				<File
					Id='I568'
					Name='N568'
					KeyPath='yes'
					LongName='evServerExplorer.cs'
					Source='INSTALLDIR\Samples\UITest.Silverlight\evServerExplorer.cs'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Silverlight'>
			<Component Id='C569' Guid='9d68968d-9134-4b54-844a-c0d7a6d988ec'>
				<File
					Id='I569'
					Name='N569'
					KeyPath='yes'
					LongName='ComboBoxColors.cs'
					Source='INSTALLDIR\Samples\UITest.Silverlight\ComboBoxColors.cs'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Web'>
			<Component Id='C570' Guid='735d70bf-ea3a-47fa-8aa0-0e2f5a88a5bf'>
				<File
					Id='I570'
					Name='N570'
					KeyPath='yes'
					LongName='Global.asax.cs'
					Source='INSTALLDIR\Samples\UITest.Web\Global.asax.cs'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Silverlight'>
			<Component Id='C571' Guid='c41be90f-1f96-49b8-adf5-85392402c13d'>
				<File
					Id='I571'
					Name='N571'
					KeyPath='yes'
					LongName='App.xaml'
					Source='INSTALLDIR\Samples\UITest.Silverlight\App.xaml'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Silverlight'>
			<Component Id='C572' Guid='462a0f98-ffbf-460c-8686-33c563d7ac6d'>
				<File
					Id='I572'
					Name='N572'
					KeyPath='yes'
					LongName='Page.xaml'
					Source='INSTALLDIR\Samples\UITest.Silverlight\Page.xaml'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Web'>
			<Component Id='C573' Guid='7bc99bb8-9136-48ea-aca9-db19a3b7b52a'>
				<File
					Id='I573'
					Name='N573'
					KeyPath='yes'
					LongName='Web.config'
					Source='INSTALLDIR\Samples\UITest.Web\Web.config'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Silverlight'>
			<Component Id='C574' Guid='4003572a-27f3-47f7-85c8-545a8b877d31'>
				<File
					Id='I574'
					Name='N574'
					KeyPath='yes'
					LongName='ServiceReferences.ClientConfig'
					Source='INSTALLDIR\Samples\UITest.Silverlight\ServiceReferences.ClientConfig'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Web'>
			<Component Id='C575' Guid='b2a93491-2bd5-4d65-bb4e-0659d1788a72'>
				<File
					Id='I575'
					Name='N575'
					KeyPath='yes'
					LongName='Default.aspx'
					Source='INSTALLDIR\Samples\UITest.Web\Default.aspx'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Web'>
			<Component Id='C576' Guid='ec53951f-aac4-4d70-91aa-05c4aff93f35'>
				<File
					Id='I576'
					Name='N576'
					KeyPath='yes'
					LongName='Global.asax'
					Source='INSTALLDIR\Samples\UITest.Web\Global.asax'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Web'>
			<Component Id='C577' Guid='d363c326-c228-4fe4-ae0b-48138a2bda9e'>
				<File
					Id='I577'
					Name='N577'
					KeyPath='yes'
					LongName='httptest.aspx'
					Source='INSTALLDIR\Samples\UITest.Web\httptest.aspx'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Web'>
			<Component Id='C578' Guid='d26856d8-407d-410f-bb58-5d8d1f40dad5'>
				<File
					Id='I578'
					Name='N578'
					KeyPath='yes'
					LongName='SilverliteApplication.htm'
					Source='INSTALLDIR\Samples\UITest.Web\SilverliteApplication.htm'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<ComponentGroup Id='all'>
			<ComponentRef Id='C533'/>
			<ComponentRef Id='C534'/>
			<ComponentRef Id='C535'/>
			<ComponentRef Id='C536'/>
			<ComponentRef Id='C537'/>
			<ComponentRef Id='C538'/>
			<ComponentRef Id='C539'/>
			<ComponentRef Id='C540'/>
			<ComponentRef Id='C541'/>
			<ComponentRef Id='C542'/>
			<ComponentRef Id='C543'/>
			<ComponentRef Id='C544'/>
			<ComponentRef Id='C545'/>
			<ComponentRef Id='C546'/>
			<ComponentRef Id='C547'/>
			<ComponentRef Id='C548'/>
			<ComponentRef Id='C549'/>
			<ComponentRef Id='C550'/>
			<ComponentRef Id='C551'/>
			<ComponentRef Id='C552'/>
			<ComponentRef Id='C553'/>
			<ComponentRef Id='C554'/>
			<ComponentRef Id='C555'/>
			<ComponentRef Id='C556'/>
			<ComponentRef Id='C557'/>
			<ComponentRef Id='C558'/>
			<ComponentRef Id='C559'/>
			<ComponentRef Id='C560'/>
			<ComponentRef Id='C561'/>
			<ComponentRef Id='C562'/>
			<ComponentRef Id='C563'/>
			<ComponentRef Id='C564'/>
			<ComponentRef Id='C565'/>
			<ComponentRef Id='C566'/>
			<ComponentRef Id='C567'/>
			<ComponentRef Id='C568'/>
			<ComponentRef Id='C569'/>
			<ComponentRef Id='C570'/>
			<ComponentRef Id='C571'/>
			<ComponentRef Id='C572'/>
			<ComponentRef Id='C573'/>
			<ComponentRef Id='C574'/>
			<ComponentRef Id='C575'/>
			<ComponentRef Id='C576'/>
			<ComponentRef Id='C577'/>
			<ComponentRef Id='C578'/>
		</ComponentGroup>
	</Fragment>
</Wix>