<?xml version='1.0' encoding='windows-1251' ?>
<Wix xmlns='http://schemas.microsoft.com/wix/2003/01/wi'
     xmlns:netfx='http://schemas.microsoft.com/wix/NetFxExtension'
>
	<Fragment Id='Files.wxs'>
		<DirectoryRef Id='INSTALLDIR_Samples_MdxFormatter.SilverLight'>
			<Component Id='C4291' Guid='2ec666a3-8855-4041-856f-0d972964add3'>
				<File
					Id='I4291'
					Name='N4291'
					KeyPath='yes'
					LongName='App.xaml.cs'
					Source='INSTALLDIR\Samples\MdxFormatter.SilverLight\App.xaml.cs'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_MdxFormatter.SilverLight'>
			<Component Id='C4292' Guid='523cd9bf-beac-4600-8cbc-4b72d04689f8'>
				<File
					Id='I4292'
					Name='N4292'
					KeyPath='yes'
					LongName='MainPage.xaml.cs'
					Source='INSTALLDIR\Samples\MdxFormatter.SilverLight\MainPage.xaml.cs'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_MdxFormatter.SilverLight_Properties'>
			<Component Id='C4293' Guid='4824c012-5a00-4ba6-a32f-ae481e37136e'>
				<File
					Id='I4293'
					Name='N4293'
					KeyPath='yes'
					LongName='AssemblyInfo.cs'
					Source='INSTALLDIR\Samples\MdxFormatter.SilverLight\Properties\AssemblyInfo.cs'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_MdxFormatter'>
			<Component Id='C4294' Guid='74b407c7-824b-4fcc-a75e-82ff2b65ca24'>
				<File
					Id='I4294'
					Name='N4294'
					KeyPath='yes'
					LongName='Program.cs'
					Source='INSTALLDIR\Samples\MdxFormatter\Program.cs'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_MdxFormatter_Properties'>
			<Component Id='C4295' Guid='7dca61e6-5ea6-4e44-99d6-8e08124010a6'>
				<File
					Id='I4295'
					Name='N4295'
					KeyPath='yes'
					LongName='AssemblyInfo.cs'
					Source='INSTALLDIR\Samples\MdxFormatter\Properties\AssemblyInfo.cs'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_MdxFormatter.SilverLight'>
			<Component Id='C4296' Guid='021ffa4e-5428-400c-8afa-86b47da2ad99'>
				<File
					Id='I4296'
					Name='N4296'
					KeyPath='yes'
					LongName='MdxFormatter.html'
					Source='INSTALLDIR\Samples\MdxFormatter.SilverLight\MdxFormatter.html'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_MdxFormatter.SilverLight_Properties'>
			<Component Id='C4297' Guid='70e683e5-7f7b-4cc2-ac02-2475cf591c96'>
				<File
					Id='I4297'
					Name='N4297'
					KeyPath='yes'
					LongName='AppManifest.xml'
					Source='INSTALLDIR\Samples\MdxFormatter.SilverLight\Properties\AppManifest.xml'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples'>
			<Component Id='C4298' Guid='011a9718-d3c7-4b5f-8132-a2e3c70aea31'>
				<File
					Id='I4298'
					Name='N4298'
					KeyPath='yes'
					LongName='Ranet.UILibrary.Olap.Samples.sln'
					Source='INSTALLDIR\Samples\Ranet.UILibrary.Olap.Samples.sln'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_MdxFormatter.SilverLight'>
			<Component Id='C4299' Guid='8cd71549-3d6e-42da-b230-7ac00ecf9d70'>
				<File
					Id='I4299'
					Name='N4299'
					KeyPath='yes'
					LongName='TestKey.snk'
					Source='INSTALLDIR\Samples\MdxFormatter.SilverLight\TestKey.snk'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_MdxFormatter'>
			<Component Id='C4300' Guid='efeb9f0d-8019-4ae1-a985-865ccd817c03'>
				<File
					Id='I4300'
					Name='N4300'
					KeyPath='yes'
					LongName='MdxSample.mdx'
					Source='INSTALLDIR\Samples\MdxFormatter\MdxSample.mdx'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_MdxFormatter'>
			<Component Id='C4301' Guid='f3f928e6-cddf-4a0b-a19a-dd5be8ee1fd2'>
				<File
					Id='I4301'
					Name='N4301'
					KeyPath='yes'
					LongName='MdxSample00.mdx'
					Source='INSTALLDIR\Samples\MdxFormatter\MdxSample00.mdx'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_MdxFormatter'>
			<Component Id='C4302' Guid='fe7b3252-39dc-413b-82bc-0a4ebfa13aab'>
				<File
					Id='I4302'
					Name='N4302'
					KeyPath='yes'
					LongName='MdxSample01.mdx'
					Source='INSTALLDIR\Samples\MdxFormatter\MdxSample01.mdx'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_MdxFormatter'>
			<Component Id='C4303' Guid='d0cac6dc-59b8-4b50-acb8-303290477093'>
				<File
					Id='I4303'
					Name='N4303'
					KeyPath='yes'
					LongName='MdxSample02.mdx'
					Source='INSTALLDIR\Samples\MdxFormatter\MdxSample02.mdx'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_MdxFormatter'>
			<Component Id='C4304' Guid='d6ae0ccc-9ed5-42b8-8b05-cc369e87478c'>
				<File
					Id='I4304'
					Name='N4304'
					KeyPath='yes'
					LongName='TestKey.snk'
					Source='INSTALLDIR\Samples\MdxFormatter\TestKey.snk'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_MdxFormatter.SilverLight'>
			<Component Id='C4305' Guid='d46410c7-3426-4e49-915f-baaab088bd76'>
				<File
					Id='I4305'
					Name='N4305'
					KeyPath='yes'
					LongName='App.xaml'
					Source='INSTALLDIR\Samples\MdxFormatter.SilverLight\App.xaml'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_MdxFormatter.SilverLight'>
			<Component Id='C4306' Guid='60e65867-2cac-450e-8c4d-54d603e31ff5'>
				<File
					Id='I4306'
					Name='N4306'
					KeyPath='yes'
					LongName='AppManifest.xaml'
					Source='INSTALLDIR\Samples\MdxFormatter.SilverLight\AppManifest.xaml'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_MdxFormatter.SilverLight'>
			<Component Id='C4307' Guid='92fff79b-c468-4679-bd92-b55bd7302f60'>
				<File
					Id='I4307'
					Name='N4307'
					KeyPath='yes'
					LongName='MainPage.xaml'
					Source='INSTALLDIR\Samples\MdxFormatter.SilverLight\MainPage.xaml'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_MdxFormatter.SilverLight'>
			<Component Id='C4308' Guid='4a5b0cec-bd1c-4291-a3dd-739d0a4ff681'>
				<File
					Id='I4308'
					Name='N4308'
					KeyPath='yes'
					LongName='MdxFormatter.SilverLight.csproj'
					Source='INSTALLDIR\Samples\MdxFormatter.SilverLight\MdxFormatter.SilverLight.csproj'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_MdxFormatter'>
			<Component Id='C4309' Guid='37c0e3d9-6a12-4d9b-b896-d3bb3e966f9e'>
				<File
					Id='I4309'
					Name='N4309'
					KeyPath='yes'
					LongName='MdxFormatter.csproj'
					Source='INSTALLDIR\Samples\MdxFormatter\MdxFormatter.csproj'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Silverlight_Properties'>
			<Component Id='C4310' Guid='d827bdf9-e3da-45d2-a45a-e26e63dab773'>
				<File
					Id='I4310'
					Name='N4310'
					KeyPath='yes'
					LongName='AppManifest.xml'
					Source='INSTALLDIR\Samples\UITest.Silverlight\Properties\AppManifest.xml'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Silverlight'>
			<Component Id='C4311' Guid='a8956246-0374-4211-b392-71b96e74fde3'>
				<File
					Id='I4311'
					Name='N4311'
					KeyPath='yes'
					LongName='UITest.Silverlight.csproj'
					Source='INSTALLDIR\Samples\UITest.Silverlight\UITest.Silverlight.csproj'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Web'>
			<Component Id='C4312' Guid='5aa0c27c-f808-4da9-9528-ff070f67c7fa'>
				<File
					Id='I4312'
					Name='N4312'
					KeyPath='yes'
					LongName='InitializeWebService.asmx'
					Source='INSTALLDIR\Samples\UITest.Web\InitializeWebService.asmx'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Web'>
			<Component Id='C4313' Guid='ec40e332-6f3c-4005-94f9-cc2ef9059932'>
				<File
					Id='I4313'
					Name='N4313'
					KeyPath='yes'
					LongName='OlapWebService.asmx'
					Source='INSTALLDIR\Samples\UITest.Web\OlapWebService.asmx'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Web'>
			<Component Id='C4314' Guid='784c30ba-4270-41fe-9cb9-7295eebc6720'>
				<File
					Id='I4314'
					Name='N4314'
					KeyPath='yes'
					LongName='Silverlight.js'
					Source='INSTALLDIR\Samples\UITest.Web\Silverlight.js'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Web'>
			<Component Id='C4315' Guid='d9262390-3ed7-4133-b677-7af6455b6522'>
				<File
					Id='I4315'
					Name='N4315'
					KeyPath='yes'
					LongName='UITest.Web.csproj'
					Source='INSTALLDIR\Samples\UITest.Web\UITest.Web.csproj'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Silverlight'>
			<Component Id='C4316' Guid='9765f8d9-b05e-45cd-b76c-e9b6a9926271'>
				<File
					Id='I4316'
					Name='N4316'
					KeyPath='yes'
					LongName='App.xaml.cs'
					Source='INSTALLDIR\Samples\UITest.Silverlight\App.xaml.cs'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Silverlight'>
			<Component Id='C4317' Guid='fbe7b232-f894-4a57-896d-df003e69a214'>
				<File
					Id='I4317'
					Name='N4317'
					KeyPath='yes'
					LongName='Page.xaml.cs'
					Source='INSTALLDIR\Samples\UITest.Silverlight\Page.xaml.cs'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Silverlight_Properties'>
			<Component Id='C4318' Guid='ec3ecbcc-e3f4-4c78-bf04-b96940204869'>
				<File
					Id='I4318'
					Name='N4318'
					KeyPath='yes'
					LongName='AssemblyInfo.cs'
					Source='INSTALLDIR\Samples\UITest.Silverlight\Properties\AssemblyInfo.cs'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Web'>
			<Component Id='C4319' Guid='19b4f39a-e0a8-4cb7-9680-db8a06db0f4d'>
				<File
					Id='I4319'
					Name='N4319'
					KeyPath='yes'
					LongName='InitializeWebService.asmx.cs'
					Source='INSTALLDIR\Samples\UITest.Web\InitializeWebService.asmx.cs'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Web'>
			<Component Id='C4320' Guid='f52d9265-e213-470d-8e85-208599288bd4'>
				<File
					Id='I4320'
					Name='N4320'
					KeyPath='yes'
					LongName='OlapWebService.asmx.cs'
					Source='INSTALLDIR\Samples\UITest.Web\OlapWebService.asmx.cs'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Web_Properties'>
			<Component Id='C4321' Guid='2e2f50a7-a121-453f-b0fc-f7004e001b75'>
				<File
					Id='I4321'
					Name='N4321'
					KeyPath='yes'
					LongName='AssemblyInfo.cs'
					Source='INSTALLDIR\Samples\UITest.Web\Properties\AssemblyInfo.cs'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Silverlight'>
			<Component Id='C4322' Guid='423e845e-cae2-440e-bd6f-2daed3c9f470'>
				<File
					Id='I4322'
					Name='N4322'
					KeyPath='yes'
					LongName='Config.cs'
					Source='INSTALLDIR\Samples\UITest.Silverlight\Config.cs'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Silverlight'>
			<Component Id='C4323' Guid='dca7afef-ac62-4825-a3b0-ee5a0d526339'>
				<File
					Id='I4323'
					Name='N4323'
					KeyPath='yes'
					LongName='evPivotGrid.cs'
					Source='INSTALLDIR\Samples\UITest.Silverlight\evPivotGrid.cs'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Silverlight'>
			<Component Id='C4324' Guid='b8cd0165-e21d-45ba-98cd-b93f2e80fcfc'>
				<File
					Id='I4324'
					Name='N4324'
					KeyPath='yes'
					LongName='evChoices.cs'
					Source='INSTALLDIR\Samples\UITest.Silverlight\evChoices.cs'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Silverlight_SrvRef_Init'>
			<Component Id='C4325' Guid='385f45bd-f17f-4115-84b1-ea630ec9a9c0'>
				<File
					Id='I4325'
					Name='N4325'
					KeyPath='yes'
					LongName='Reference.cs'
					Source='INSTALLDIR\Samples\UITest.Silverlight\SrvRef\Init\Reference.cs'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Silverlight'>
			<Component Id='C4326' Guid='1c0c10da-4720-435f-b36f-2993e8d3f104'>
				<File
					Id='I4326'
					Name='N4326'
					KeyPath='yes'
					LongName='evConfig.cs'
					Source='INSTALLDIR\Samples\UITest.Silverlight\evConfig.cs'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Silverlight'>
			<Component Id='C4327' Guid='dfd75ae9-b675-477d-aeb4-75273e988ce6'>
				<File
					Id='I4327'
					Name='N4327'
					KeyPath='yes'
					LongName='evGauge.cs'
					Source='INSTALLDIR\Samples\UITest.Silverlight\evGauge.cs'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Silverlight'>
			<Component Id='C4328' Guid='5c5b6e2a-0b22-435a-8d03-323f06726727'>
				<File
					Id='I4328'
					Name='N4328'
					KeyPath='yes'
					LongName='evMdxDesigner.cs'
					Source='INSTALLDIR\Samples\UITest.Silverlight\evMdxDesigner.cs'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Silverlight'>
			<Component Id='C4329' Guid='5feae087-a5f2-48e0-8dac-88c92e1f1fa9'>
				<File
					Id='I4329'
					Name='N4329'
					KeyPath='yes'
					LongName='evServerExplorer.cs'
					Source='INSTALLDIR\Samples\UITest.Silverlight\evServerExplorer.cs'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Silverlight'>
			<Component Id='C4330' Guid='cd872270-4178-49e6-b777-8a1d31259668'>
				<File
					Id='I4330'
					Name='N4330'
					KeyPath='yes'
					LongName='App.xaml'
					Source='INSTALLDIR\Samples\UITest.Silverlight\App.xaml'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Silverlight'>
			<Component Id='C4331' Guid='2a4d3671-7fed-430a-980f-5dfe608ac1aa'>
				<File
					Id='I4331'
					Name='N4331'
					KeyPath='yes'
					LongName='Page.xaml'
					Source='INSTALLDIR\Samples\UITest.Silverlight\Page.xaml'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Web'>
			<Component Id='C4332' Guid='35e30865-f5df-4693-b0df-0a9d0ad5bb3f'>
				<File
					Id='I4332'
					Name='N4332'
					KeyPath='yes'
					LongName='Web.config'
					Source='INSTALLDIR\Samples\UITest.Web\Web.config'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Silverlight'>
			<Component Id='C4333' Guid='7bb8e83c-35ab-4670-80a4-8710d120dbb6'>
				<File
					Id='I4333'
					Name='N4333'
					KeyPath='yes'
					LongName='ServiceReferences.ClientConfig'
					Source='INSTALLDIR\Samples\UITest.Silverlight\ServiceReferences.ClientConfig'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Silverlight_SrvRef_Init'>
			<Component Id='C4334' Guid='52e03473-a02f-4164-9a28-9f917a71aeb1'>
				<File
					Id='I4334'
					Name='N4334'
					KeyPath='yes'
					LongName='configuration.svcinfo'
					Source='INSTALLDIR\Samples\UITest.Silverlight\SrvRef\Init\configuration.svcinfo'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Silverlight_SrvRef_Init'>
			<Component Id='C4335' Guid='9156a8be-69ce-4b81-8525-cecf86d49e64'>
				<File
					Id='I4335'
					Name='N4335'
					KeyPath='yes'
					LongName='configuration91.svcinfo'
					Source='INSTALLDIR\Samples\UITest.Silverlight\SrvRef\Init\configuration91.svcinfo'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Silverlight_SrvRef_Init'>
			<Component Id='C4336' Guid='aabe9e5f-3fcf-4f87-8f42-87d0b3df52e7'>
				<File
					Id='I4336'
					Name='N4336'
					KeyPath='yes'
					LongName='InitializeWebService.disco'
					Source='INSTALLDIR\Samples\UITest.Silverlight\SrvRef\Init\InitializeWebService.disco'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Silverlight_SrvRef_Init'>
			<Component Id='C4337' Guid='e1553436-e7d4-4168-99f7-cbdc8e4a645e'>
				<File
					Id='I4337'
					Name='N4337'
					KeyPath='yes'
					LongName='Reference.svcmap'
					Source='INSTALLDIR\Samples\UITest.Silverlight\SrvRef\Init\Reference.svcmap'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Web'>
			<Component Id='C4338' Guid='bd669bd0-7e87-4e6d-bb20-c9e0142f10df'>
				<File
					Id='I4338'
					Name='N4338'
					KeyPath='yes'
					LongName='Default.htm'
					Source='INSTALLDIR\Samples\UITest.Web\Default.htm'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Samples_UITest.Silverlight_SrvRef_Init'>
			<Component Id='C4339' Guid='3b77c778-1a7a-4505-b664-7ccd98a4e533'>
				<File
					Id='I4339'
					Name='N4339'
					KeyPath='yes'
					LongName='InitializeWebService.wsdl'
					Source='INSTALLDIR\Samples\UITest.Silverlight\SrvRef\Init\InitializeWebService.wsdl'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<ComponentGroup Id='all'>
			<ComponentRef Id='C4291'/>
			<ComponentRef Id='C4292'/>
			<ComponentRef Id='C4293'/>
			<ComponentRef Id='C4294'/>
			<ComponentRef Id='C4295'/>
			<ComponentRef Id='C4296'/>
			<ComponentRef Id='C4297'/>
			<ComponentRef Id='C4298'/>
			<ComponentRef Id='C4299'/>
			<ComponentRef Id='C4300'/>
			<ComponentRef Id='C4301'/>
			<ComponentRef Id='C4302'/>
			<ComponentRef Id='C4303'/>
			<ComponentRef Id='C4304'/>
			<ComponentRef Id='C4305'/>
			<ComponentRef Id='C4306'/>
			<ComponentRef Id='C4307'/>
			<ComponentRef Id='C4308'/>
			<ComponentRef Id='C4309'/>
			<ComponentRef Id='C4310'/>
			<ComponentRef Id='C4311'/>
			<ComponentRef Id='C4312'/>
			<ComponentRef Id='C4313'/>
			<ComponentRef Id='C4314'/>
			<ComponentRef Id='C4315'/>
			<ComponentRef Id='C4316'/>
			<ComponentRef Id='C4317'/>
			<ComponentRef Id='C4318'/>
			<ComponentRef Id='C4319'/>
			<ComponentRef Id='C4320'/>
			<ComponentRef Id='C4321'/>
			<ComponentRef Id='C4322'/>
			<ComponentRef Id='C4323'/>
			<ComponentRef Id='C4324'/>
			<ComponentRef Id='C4325'/>
			<ComponentRef Id='C4326'/>
			<ComponentRef Id='C4327'/>
			<ComponentRef Id='C4328'/>
			<ComponentRef Id='C4329'/>
			<ComponentRef Id='C4330'/>
			<ComponentRef Id='C4331'/>
			<ComponentRef Id='C4332'/>
			<ComponentRef Id='C4333'/>
			<ComponentRef Id='C4334'/>
			<ComponentRef Id='C4335'/>
			<ComponentRef Id='C4336'/>
			<ComponentRef Id='C4337'/>
			<ComponentRef Id='C4338'/>
			<ComponentRef Id='C4339'/>
		</ComponentGroup>
	</Fragment>
</Wix>