<?xml version="1.0" encoding="utf-8" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
>
	<Module
  Language="0"
  Codepage="1251"
  Version="$(var.FileVersion)"
  Guid="{BEE645E7-D12A-4fc7-A622-4EA7DF7DD8A9}"
  Id="$(var.MainProduct).$(var.SubProduct)_$(var.MajorMinorVersion).Samples.Src"
	>
		<Package Id="????????-????-????-????-????????????"
			Description="$(var.ProductName).Samples.Src"
			Comments= "$(var.MainProduct).$(var.SubProduct)-$(var.FileVersion).Samples.Src"
			InstallerVersion="200"
			Compressed="yes"
			Keywords="msi,installer"
			Manufacturer="$(var.Manufacturer)"
			SummaryCodepage="1251"
			ShortNames="no"
			ReadOnly="yes"
		/>
		<ComponentGroupRef Id="all"/>
		<ComponentRef Id="CRANET_UILIBRARY_OLAP_SAMPLES_SRC_LNK"/>
	</Module>
</Wix>