<?xml version="1.0" encoding="utf-8" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
	<Fragment Id="Directories.wxs">
		<DirectoryRef Id="TARGETDIR">
			<Directory Id="ProgramMenuFolder" Name="PMenu" LongName="Programs" >
				<Directory Id="Galaktika" Name="PMenuGal" LongName="Galaktika" >
					<Directory Id="Shortcuts.RANET_UILIBRARY_OLAP" Name="ROILOLAP" LongName="$(var.ProductName).$(var.FileVersionBuild).$(var.FileVersionRevision)">
						<Component Id='CRANET_UILIBRARY_OLAP_SAMPLES_SRC_LNK' Guid='E17D133F-839F-47d4-8575-60C66D6AB640'>
							<Shortcut
								Id="Ranet.UILibrary.Samples.sln"
								Directory="Shortcuts.RANET_UILIBRARY_OLAP"
								Name="RUISSln"
								LongName="Ranet.UILibrary.Samples.sln"
								Description="Ranet.UILibrary.Samples Solution"
								Show="normal"
								Target="[INSTALLDIR_Samples]Ranet.UILibrary.Olap.Samples.sln"
								WorkingDirectory="INSTALLDIR_Samples"
							/>
						</Component>
					</Directory>
				</Directory>
			</Directory>
		</DirectoryRef>
	</Fragment>
</Wix>
