<?xml version='1.0' encoding='windows-1251' ?>
<Wix xmlns='http://schemas.microsoft.com/wix/2003/01/wi'
     xmlns:netfx='http://schemas.microsoft.com/wix/NetFxExtension'
>
	<Fragment Id='Files.wxs'>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C1' Guid='8010b365-0aa9-482d-8ae4-a22fd7b8b0ca'>
				<File
					Id='I1'
					Name='N1'
					KeyPath='yes'
					LongName='AND.png'
					Source='INSTALLDIR\Syntax.MDX\AND.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C2' Guid='83985336-9152-48d1-b688-0b9474cd528c'>
				<File
					Id='I2'
					Name='N2'
					KeyPath='yes'
					LongName='AS.png'
					Source='INSTALLDIR\Syntax.MDX\AS.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C3' Guid='190de731-272e-4052-aac1-e0f046250a30'>
				<File
					Id='I3'
					Name='N3'
					KeyPath='yes'
					LongName='axis_name.png'
					Source='INSTALLDIR\Syntax.MDX\axis_name.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C4' Guid='acf0abff-608a-4340-b6e5-e548f2643d4b'>
				<File
					Id='I4'
					Name='N4'
					KeyPath='yes'
					LongName='axis_specification.png'
					Source='INSTALLDIR\Syntax.MDX\axis_specification.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C5' Guid='fb3272e6-d219-48f3-b6ba-bb2e1788d4a3'>
				<File
					Id='I5'
					Name='N5'
					KeyPath='yes'
					LongName='BY.png'
					Source='INSTALLDIR\Syntax.MDX\BY.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C6' Guid='57878aff-269b-4cf6-b7a4-302afc03c3d3'>
				<File
					Id='I6'
					Name='N6'
					KeyPath='yes'
					LongName='CALCULATED.png'
					Source='INSTALLDIR\Syntax.MDX\CALCULATED.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C7' Guid='28d527da-a548-4943-b9e9-2d1168a9be74'>
				<File
					Id='I7'
					Name='N7'
					KeyPath='yes'
					LongName='CALCULATION.png'
					Source='INSTALLDIR\Syntax.MDX\CALCULATION.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C8' Guid='911b4d05-ab34-49b8-9298-9cbfd0b74efb'>
				<File
					Id='I8'
					Name='N8'
					KeyPath='yes'
					LongName='CASE.png'
					Source='INSTALLDIR\Syntax.MDX\CASE.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C9' Guid='a34a8c37-d528-41f7-bfcd-0fbfb4dc2bd6'>
				<File
					Id='I9'
					Name='N9'
					KeyPath='yes'
					LongName='CELL.png'
					Source='INSTALLDIR\Syntax.MDX\CELL.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C10' Guid='ac6a73c4-725c-477c-abff-8fb199b384a6'>
				<File
					Id='I10'
					Name='N10'
					KeyPath='yes'
					LongName='CELL_ORDINAL.png'
					Source='INSTALLDIR\Syntax.MDX\CELL_ORDINAL.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C11' Guid='5cc31470-c42c-42f4-802f-7399c6d5df79'>
				<File
					Id='I11'
					Name='N11'
					KeyPath='yes'
					LongName='cell_property.png'
					Source='INSTALLDIR\Syntax.MDX\cell_property.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C12' Guid='6bbf8a35-72e9-4a6c-8a2a-034d51dde867'>
				<File
					Id='I12'
					Name='N12'
					KeyPath='yes'
					LongName='COMMENT.png'
					Source='INSTALLDIR\Syntax.MDX\COMMENT.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C13' Guid='3e8f3614-b517-4334-a808-b874c33d5d96'>
				<File
					Id='I13'
					Name='N13'
					KeyPath='yes'
					LongName='compound_id.png'
					Source='INSTALLDIR\Syntax.MDX\compound_id.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C14' Guid='e623b99e-3827-444f-9290-d6ddae9a8510'>
				<File
					Id='I14'
					Name='N14'
					KeyPath='yes'
					LongName='condition.png'
					Source='INSTALLDIR\Syntax.MDX\condition.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C15' Guid='9dd78e86-be52-47db-a2a9-62c00403bbee'>
				<File
					Id='I15'
					Name='N15'
					KeyPath='yes'
					LongName='CREATE.png'
					Source='INSTALLDIR\Syntax.MDX\CREATE.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C16' Guid='4a036ea2-8502-46f3-b9de-e05ce1f1f787'>
				<File
					Id='I16'
					Name='N16'
					KeyPath='yes'
					LongName='CUBE.png'
					Source='INSTALLDIR\Syntax.MDX\CUBE.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C17' Guid='32446878-4b38-4bd9-88ed-3042f0e2379d'>
				<File
					Id='I17'
					Name='N17'
					KeyPath='yes'
					LongName='cube_name.png'
					Source='INSTALLDIR\Syntax.MDX\cube_name.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C18' Guid='451bd86a-678c-43ba-8be6-a83341e4aecc'>
				<File
					Id='I18'
					Name='N18'
					KeyPath='yes'
					LongName='cube_specification.png'
					Source='INSTALLDIR\Syntax.MDX\cube_specification.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C19' Guid='a02679f0-08df-4792-8b1b-d1d61c9a49af'>
				<File
					Id='I19'
					Name='N19'
					KeyPath='yes'
					LongName='DIMENSION.png'
					Source='INSTALLDIR\Syntax.MDX\DIMENSION.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C20' Guid='7b0b5c52-159a-41e3-97b6-67f57f5173bf'>
				<File
					Id='I20'
					Name='N20'
					KeyPath='yes'
					LongName='ELSE.png'
					Source='INSTALLDIR\Syntax.MDX\ELSE.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C21' Guid='02597f00-4d98-400f-b0bd-435d3b95aecf'>
				<File
					Id='I21'
					Name='N21'
					KeyPath='yes'
					LongName='EMPTY.png'
					Source='INSTALLDIR\Syntax.MDX\EMPTY.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C22' Guid='c365d657-ca16-4add-b895-2cebf2ba2ebc'>
				<File
					Id='I22'
					Name='N22'
					KeyPath='yes'
					LongName='END.png'
					Source='INSTALLDIR\Syntax.MDX\END.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C23' Guid='3e864e2b-276f-499d-aec5-fc855c2cc76d'>
				<File
					Id='I23'
					Name='N23'
					KeyPath='yes'
					LongName='expression.png'
					Source='INSTALLDIR\Syntax.MDX\expression.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C24' Guid='f985e58f-38eb-4025-bd0e-1f909b4b592c'>
				<File
					Id='I24'
					Name='N24'
					KeyPath='yes'
					LongName='expressions_list.png'
					Source='INSTALLDIR\Syntax.MDX\expressions_list.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C25' Guid='773bd514-20ae-4320-91e1-d4a24f857215'>
				<File
					Id='I25'
					Name='N25'
					KeyPath='yes'
					LongName='expression_add.png'
					Source='INSTALLDIR\Syntax.MDX\expression_add.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C26' Guid='46158b42-6e6d-47a8-890a-329782fc33aa'>
				<File
					Id='I26'
					Name='N26'
					KeyPath='yes'
					LongName='expression_and.png'
					Source='INSTALLDIR\Syntax.MDX\expression_and.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C27' Guid='68e5cbb2-2ded-496b-b8a5-5faf3c5bf707'>
				<File
					Id='I27'
					Name='N27'
					KeyPath='yes'
					LongName='expression_case.png'
					Source='INSTALLDIR\Syntax.MDX\expression_case.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C28' Guid='ed21cb06-1a72-4c38-8733-c7bc5b2d6b73'>
				<File
					Id='I28'
					Name='N28'
					KeyPath='yes'
					LongName='expression_compare.png'
					Source='INSTALLDIR\Syntax.MDX\expression_compare.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C29' Guid='d123adbc-7b8b-4218-9d24-d25e476ce58e'>
				<File
					Id='I29'
					Name='N29'
					KeyPath='yes'
					LongName='expression_function.png'
					Source='INSTALLDIR\Syntax.MDX\expression_function.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C30' Guid='5799e012-8d9e-4837-9a6e-31d4ca78f720'>
				<File
					Id='I30'
					Name='N30'
					KeyPath='yes'
					LongName='expression_mult.png'
					Source='INSTALLDIR\Syntax.MDX\expression_mult.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C31' Guid='da0f4336-ceb3-446c-8e02-250bc00fdf06'>
				<File
					Id='I31'
					Name='N31'
					KeyPath='yes'
					LongName='expression_or_xor.png'
					Source='INSTALLDIR\Syntax.MDX\expression_or_xor.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C32' Guid='ec961980-2ea7-4f8b-a860-dd06385d4f37'>
				<File
					Id='I32'
					Name='N32'
					KeyPath='yes'
					LongName='expression_power.png'
					Source='INSTALLDIR\Syntax.MDX\expression_power.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C33' Guid='7c7eb38a-801e-4cea-87b2-83606d2a157e'>
				<File
					Id='I33'
					Name='N33'
					KeyPath='yes'
					LongName='expression_property.png'
					Source='INSTALLDIR\Syntax.MDX\expression_property.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C34' Guid='3b28008d-e1bc-4f16-a872-41432fee221c'>
				<File
					Id='I34'
					Name='N34'
					KeyPath='yes'
					LongName='expression_range_is.png'
					Source='INSTALLDIR\Syntax.MDX\expression_range_is.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C35' Guid='784de9ec-737e-45b4-9abc-3803d53de875'>
				<File
					Id='I35'
					Name='N35'
					KeyPath='yes'
					LongName='expression_simple.png'
					Source='INSTALLDIR\Syntax.MDX\expression_simple.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C36' Guid='30827331-625a-4d3a-a002-a28f4ec1f7c1'>
				<File
					Id='I36'
					Name='N36'
					KeyPath='yes'
					LongName='expression_unary.png'
					Source='INSTALLDIR\Syntax.MDX\expression_unary.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C37' Guid='0e1ab9f1-31f0-4199-8eeb-6ed8f9061bbe'>
				<File
					Id='I37'
					Name='N37'
					KeyPath='yes'
					LongName='FLOAT.png'
					Source='INSTALLDIR\Syntax.MDX\FLOAT.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C38' Guid='e6b71a04-e784-4e17-a350-a32611a9f8eb'>
				<File
					Id='I38'
					Name='N38'
					KeyPath='yes'
					LongName='FOR.png'
					Source='INSTALLDIR\Syntax.MDX\FOR.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C39' Guid='9adedbe9-093d-4794-b2ca-a8e541682312'>
				<File
					Id='I39'
					Name='N39'
					KeyPath='yes'
					LongName='FORMATTED_VALUE.png'
					Source='INSTALLDIR\Syntax.MDX\FORMATTED_VALUE.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C40' Guid='53189023-eaad-4692-bc4c-22803b0bc13a'>
				<File
					Id='I40'
					Name='N40'
					KeyPath='yes'
					LongName='FROM.png'
					Source='INSTALLDIR\Syntax.MDX\FROM.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C41' Guid='2b9c0603-1f84-4089-ad89-5c182264242e'>
				<File
					Id='I41'
					Name='N41'
					KeyPath='yes'
					LongName='GLOBAL.png'
					Source='INSTALLDIR\Syntax.MDX\GLOBAL.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C42' Guid='4b4266f8-74ec-4c91-a3a8-1395908ffb5b'>
				<File
					Id='I42'
					Name='N42'
					KeyPath='yes'
					LongName='ID.png'
					Source='INSTALLDIR\Syntax.MDX\ID.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C43' Guid='47116391-44da-4359-be57-fa11df2c9feb'>
				<File
					Id='I43'
					Name='N43'
					KeyPath='yes'
					LongName='identifier.png'
					Source='INSTALLDIR\Syntax.MDX\identifier.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C44' Guid='d63d934e-98ad-4416-86cb-dbdbbbd5f1ac'>
				<File
					Id='I44'
					Name='N44'
					KeyPath='yes'
					LongName='INTEGER.png'
					Source='INSTALLDIR\Syntax.MDX\INTEGER.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C45' Guid='dae81e11-31ad-405e-9a47-a528ca4ab20e'>
				<File
					Id='I45'
					Name='N45'
					KeyPath='yes'
					LongName='IS.png'
					Source='INSTALLDIR\Syntax.MDX\IS.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C46' Guid='1c24c9b8-1fdd-4874-bf28-8c7334918dae'>
				<File
					Id='I46'
					Name='N46'
					KeyPath='yes'
					LongName='keyword.png'
					Source='INSTALLDIR\Syntax.MDX\keyword.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C47' Guid='3dd88e36-6877-415b-a894-27968e9a0fb5'>
				<File
					Id='I47'
					Name='N47'
					KeyPath='yes'
					LongName='LINE_COMMENT.png'
					Source='INSTALLDIR\Syntax.MDX\LINE_COMMENT.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C48' Guid='f60c0295-c36f-4507-95ee-64f4f7b42ca3'>
				<File
					Id='I48'
					Name='N48'
					KeyPath='yes'
					LongName='mdx_statement.png'
					Source='INSTALLDIR\Syntax.MDX\mdx_statement.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C49' Guid='20168cd8-8adf-4ea4-b40b-026e999779b2'>
				<File
					Id='I49'
					Name='N49'
					KeyPath='yes'
					LongName='mdx_statement_single.png'
					Source='INSTALLDIR\Syntax.MDX\mdx_statement_single.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C50' Guid='de14038e-7fe2-47fc-9482-2a32e5ced3ae'>
				<File
					Id='I50'
					Name='N50'
					KeyPath='yes'
					LongName='MEMBER.png'
					Source='INSTALLDIR\Syntax.MDX\MEMBER.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C51' Guid='91ec9137-abcc-40a1-a154-05bce1a3cfa8'>
				<File
					Id='I51'
					Name='N51'
					KeyPath='yes'
					LongName='member_name.png'
					Source='INSTALLDIR\Syntax.MDX\member_name.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C52' Guid='7b1255e3-7b50-4044-ba1c-5996ee1fd936'>
				<File
					Id='I52'
					Name='N52'
					KeyPath='yes'
					LongName='NON.png'
					Source='INSTALLDIR\Syntax.MDX\NON.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C53' Guid='46472680-22ae-4914-87ad-99590b4cfc07'>
				<File
					Id='I53'
					Name='N53'
					KeyPath='yes'
					LongName='NOT.png'
					Source='INSTALLDIR\Syntax.MDX\NOT.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C54' Guid='6755b881-cbf8-4103-8f22-4db77ca78117'>
				<File
					Id='I54'
					Name='N54'
					KeyPath='yes'
					LongName='ON.png'
					Source='INSTALLDIR\Syntax.MDX\ON.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C55' Guid='a7a1bc27-3fa0-43ba-9ec8-2e2f35ee5151'>
				<File
					Id='I55'
					Name='N55'
					KeyPath='yes'
					LongName='OR.png'
					Source='INSTALLDIR\Syntax.MDX\OR.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C56' Guid='e72773ed-c6a8-4dd9-a0df-08a9f96cfde2'>
				<File
					Id='I56'
					Name='N56'
					KeyPath='yes'
					LongName='PROPERTIES.png'
					Source='INSTALLDIR\Syntax.MDX\PROPERTIES.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C57' Guid='a431faca-4315-4921-8391-6049beefc608'>
				<File
					Id='I57'
					Name='N57'
					KeyPath='yes'
					LongName='property.png'
					Source='INSTALLDIR\Syntax.MDX\property.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C58' Guid='ecf1438e-7f0b-430a-b4cc-cb23fbdeb39b'>
				<File
					Id='I58'
					Name='N58'
					KeyPath='yes'
					LongName='property_definition.png'
					Source='INSTALLDIR\Syntax.MDX\property_definition.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C59' Guid='aeb8c162-5aa7-41f6-bb1f-6801f150ab19'>
				<File
					Id='I59'
					Name='N59'
					KeyPath='yes'
					LongName='provider_specific_cell_property.png'
					Source='INSTALLDIR\Syntax.MDX\provider_specific_cell_property.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C60' Guid='40f00535-53b5-4963-a90e-5c58e4a588c9'>
				<File
					Id='I60'
					Name='N60'
					KeyPath='yes'
					LongName='QUOTED_ID.png'
					Source='INSTALLDIR\Syntax.MDX\QUOTED_ID.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C61' Guid='16148a9b-cea0-4eb4-bd53-7ba8fb7587f1'>
				<File
					Id='I61'
					Name='N61'
					KeyPath='yes'
					LongName='quoted_identifier.png'
					Source='INSTALLDIR\Syntax.MDX\quoted_identifier.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C62' Guid='90fa9033-937d-4777-95c0-55e9405c9a14'>
				<File
					Id='I62'
					Name='N62'
					KeyPath='yes'
					LongName='RANET_EXPRESSION.png'
					Source='INSTALLDIR\Syntax.MDX\RANET_EXPRESSION.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C63' Guid='4c9d41bb-bfa2-4640-aaea-432cbb7004c1'>
				<File
					Id='I63'
					Name='N63'
					KeyPath='yes'
					LongName='SELECT.png'
					Source='INSTALLDIR\Syntax.MDX\SELECT.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C64' Guid='767bb1b7-d4be-42d2-9d5a-9438c9e2895a'>
				<File
					Id='I64'
					Name='N64'
					KeyPath='yes'
					LongName='select_statement.png'
					Source='INSTALLDIR\Syntax.MDX\select_statement.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C65' Guid='722050d2-d902-4fcd-a30e-7418a99c07eb'>
				<File
					Id='I65'
					Name='N65'
					KeyPath='yes'
					LongName='select_statement_subcube.png'
					Source='INSTALLDIR\Syntax.MDX\select_statement_subcube.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C66' Guid='5c1480a3-bebe-4647-90c8-b2df3f691d20'>
				<File
					Id='I66'
					Name='N66'
					KeyPath='yes'
					LongName='SESSION.png'
					Source='INSTALLDIR\Syntax.MDX\SESSION.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C67' Guid='6685ae5f-d369-4eab-923b-beae16fdc920'>
				<File
					Id='I67'
					Name='N67'
					KeyPath='yes'
					LongName='SET.png'
					Source='INSTALLDIR\Syntax.MDX\SET.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C68' Guid='8ed5a520-2d54-4d16-abb1-b7df23e3cddb'>
				<File
					Id='I68'
					Name='N68'
					KeyPath='yes'
					LongName='set_name.png'
					Source='INSTALLDIR\Syntax.MDX\set_name.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C69' Guid='173209ed-d063-4e5a-b9cb-7df68dcfd61c'>
				<File
					Id='I69'
					Name='N69'
					KeyPath='yes'
					LongName='STRING.png'
					Source='INSTALLDIR\Syntax.MDX\STRING.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C70' Guid='d1504708-c76f-4dea-83a7-1e82c2bfd4c2'>
				<File
					Id='I70'
					Name='N70'
					KeyPath='yes'
					LongName='THEN.png'
					Source='INSTALLDIR\Syntax.MDX\THEN.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C71' Guid='bd9d7fe4-f224-43a3-9060-3138d0d9d394'>
				<File
					Id='I71'
					Name='N71'
					KeyPath='yes'
					LongName='unquoted_identifier.png'
					Source='INSTALLDIR\Syntax.MDX\unquoted_identifier.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C72' Guid='2aa80c0a-c37b-4e62-a1a9-f83a347a7f1d'>
				<File
					Id='I72'
					Name='N72'
					KeyPath='yes'
					LongName='UPDATE.png'
					Source='INSTALLDIR\Syntax.MDX\UPDATE.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C73' Guid='769fae72-4557-469d-ac38-2f34d4ad0be4'>
				<File
					Id='I73'
					Name='N73'
					KeyPath='yes'
					LongName='update_statement.png'
					Source='INSTALLDIR\Syntax.MDX\update_statement.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C74' Guid='f150ee8b-36e9-412d-9c44-4defdee9acf5'>
				<File
					Id='I74'
					Name='N74'
					KeyPath='yes'
					LongName='USE_EQUAL_ALLOCATION.png'
					Source='INSTALLDIR\Syntax.MDX\USE_EQUAL_ALLOCATION.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C75' Guid='96157103-0f97-4ecf-b3c9-8ce8a03ed345'>
				<File
					Id='I75'
					Name='N75'
					KeyPath='yes'
					LongName='USE_EQUAL_INCREMENT.png'
					Source='INSTALLDIR\Syntax.MDX\USE_EQUAL_INCREMENT.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C76' Guid='85cb48f6-4b5b-4395-a36f-f8fc59574de4'>
				<File
					Id='I76'
					Name='N76'
					KeyPath='yes'
					LongName='USE_WEIGHTED_ALLOCATION.png'
					Source='INSTALLDIR\Syntax.MDX\USE_WEIGHTED_ALLOCATION.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C77' Guid='2478b63c-7f7b-4dd8-8400-8235c46ba5b1'>
				<File
					Id='I77'
					Name='N77'
					KeyPath='yes'
					LongName='USE_WEIGHTED_INCREMENT.png'
					Source='INSTALLDIR\Syntax.MDX\USE_WEIGHTED_INCREMENT.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C78' Guid='1688a8e1-467e-4be1-9e2f-ecbf0114ad8a'>
				<File
					Id='I78'
					Name='N78'
					KeyPath='yes'
					LongName='VALUE.png'
					Source='INSTALLDIR\Syntax.MDX\VALUE.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C79' Guid='4b0bbe60-645e-4ece-b3ff-b101210398ec'>
				<File
					Id='I79'
					Name='N79'
					KeyPath='yes'
					LongName='VISUAL.png'
					Source='INSTALLDIR\Syntax.MDX\VISUAL.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C80' Guid='536abdf8-9787-4a19-b6ba-f44223454e53'>
				<File
					Id='I80'
					Name='N80'
					KeyPath='yes'
					LongName='weight_value_expression.png'
					Source='INSTALLDIR\Syntax.MDX\weight_value_expression.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C81' Guid='572f8532-8b43-49e7-a45b-3e5dae71e2d1'>
				<File
					Id='I81'
					Name='N81'
					KeyPath='yes'
					LongName='WHEN.png'
					Source='INSTALLDIR\Syntax.MDX\WHEN.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C82' Guid='1761cc76-ec92-40d4-ae39-48805286014f'>
				<File
					Id='I82'
					Name='N82'
					KeyPath='yes'
					LongName='when_clause.png'
					Source='INSTALLDIR\Syntax.MDX\when_clause.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C83' Guid='093c1d44-ff0c-4706-940f-2edea971776c'>
				<File
					Id='I83'
					Name='N83'
					KeyPath='yes'
					LongName='WHERE.png'
					Source='INSTALLDIR\Syntax.MDX\WHERE.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C84' Guid='0b2f9497-4cf6-4eec-ac64-9d89c77cb6e4'>
				<File
					Id='I84'
					Name='N84'
					KeyPath='yes'
					LongName='WITH.png'
					Source='INSTALLDIR\Syntax.MDX\WITH.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C85' Guid='aff11504-6a44-41fb-94a8-2accfc3a7c41'>
				<File
					Id='I85'
					Name='N85'
					KeyPath='yes'
					LongName='with_clause_single.png'
					Source='INSTALLDIR\Syntax.MDX\with_clause_single.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C86' Guid='e2cd114c-3163-4b90-9e5e-6eff12a435e5'>
				<File
					Id='I86'
					Name='N86'
					KeyPath='yes'
					LongName='WS.png'
					Source='INSTALLDIR\Syntax.MDX\WS.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C87' Guid='a97a6017-96e4-4251-8f69-6ea0549d1cc7'>
				<File
					Id='I87'
					Name='N87'
					KeyPath='yes'
					LongName='XOR.png'
					Source='INSTALLDIR\Syntax.MDX\XOR.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<ComponentGroup Id='all'>
			<ComponentRef Id='C1'/>
			<ComponentRef Id='C2'/>
			<ComponentRef Id='C3'/>
			<ComponentRef Id='C4'/>
			<ComponentRef Id='C5'/>
			<ComponentRef Id='C6'/>
			<ComponentRef Id='C7'/>
			<ComponentRef Id='C8'/>
			<ComponentRef Id='C9'/>
			<ComponentRef Id='C10'/>
			<ComponentRef Id='C11'/>
			<ComponentRef Id='C12'/>
			<ComponentRef Id='C13'/>
			<ComponentRef Id='C14'/>
			<ComponentRef Id='C15'/>
			<ComponentRef Id='C16'/>
			<ComponentRef Id='C17'/>
			<ComponentRef Id='C18'/>
			<ComponentRef Id='C19'/>
			<ComponentRef Id='C20'/>
			<ComponentRef Id='C21'/>
			<ComponentRef Id='C22'/>
			<ComponentRef Id='C23'/>
			<ComponentRef Id='C24'/>
			<ComponentRef Id='C25'/>
			<ComponentRef Id='C26'/>
			<ComponentRef Id='C27'/>
			<ComponentRef Id='C28'/>
			<ComponentRef Id='C29'/>
			<ComponentRef Id='C30'/>
			<ComponentRef Id='C31'/>
			<ComponentRef Id='C32'/>
			<ComponentRef Id='C33'/>
			<ComponentRef Id='C34'/>
			<ComponentRef Id='C35'/>
			<ComponentRef Id='C36'/>
			<ComponentRef Id='C37'/>
			<ComponentRef Id='C38'/>
			<ComponentRef Id='C39'/>
			<ComponentRef Id='C40'/>
			<ComponentRef Id='C41'/>
			<ComponentRef Id='C42'/>
			<ComponentRef Id='C43'/>
			<ComponentRef Id='C44'/>
			<ComponentRef Id='C45'/>
			<ComponentRef Id='C46'/>
			<ComponentRef Id='C47'/>
			<ComponentRef Id='C48'/>
			<ComponentRef Id='C49'/>
			<ComponentRef Id='C50'/>
			<ComponentRef Id='C51'/>
			<ComponentRef Id='C52'/>
			<ComponentRef Id='C53'/>
			<ComponentRef Id='C54'/>
			<ComponentRef Id='C55'/>
			<ComponentRef Id='C56'/>
			<ComponentRef Id='C57'/>
			<ComponentRef Id='C58'/>
			<ComponentRef Id='C59'/>
			<ComponentRef Id='C60'/>
			<ComponentRef Id='C61'/>
			<ComponentRef Id='C62'/>
			<ComponentRef Id='C63'/>
			<ComponentRef Id='C64'/>
			<ComponentRef Id='C65'/>
			<ComponentRef Id='C66'/>
			<ComponentRef Id='C67'/>
			<ComponentRef Id='C68'/>
			<ComponentRef Id='C69'/>
			<ComponentRef Id='C70'/>
			<ComponentRef Id='C71'/>
			<ComponentRef Id='C72'/>
			<ComponentRef Id='C73'/>
			<ComponentRef Id='C74'/>
			<ComponentRef Id='C75'/>
			<ComponentRef Id='C76'/>
			<ComponentRef Id='C77'/>
			<ComponentRef Id='C78'/>
			<ComponentRef Id='C79'/>
			<ComponentRef Id='C80'/>
			<ComponentRef Id='C81'/>
			<ComponentRef Id='C82'/>
			<ComponentRef Id='C83'/>
			<ComponentRef Id='C84'/>
			<ComponentRef Id='C85'/>
			<ComponentRef Id='C86'/>
			<ComponentRef Id='C87'/>
		</ComponentGroup>
	</Fragment>
</Wix>