<?xml version='1.0' encoding='windows-1251' ?>
<Wix xmlns='http://schemas.microsoft.com/wix/2003/01/wi'
     xmlns:netfx='http://schemas.microsoft.com/wix/NetFxExtension'
>
	<Fragment Id='Files.wxs'>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C401' Guid='3323cb7c-a6a3-48b9-8968-c1bda98922fe'>
				<File
					Id='I401'
					Name='N401'
					KeyPath='yes'
					LongName='AND.png'
					Source='INSTALLDIR\Syntax.MDX\AND.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C402' Guid='8cbb0efb-4d96-44af-9915-fd1e6276bf54'>
				<File
					Id='I402'
					Name='N402'
					KeyPath='yes'
					LongName='AS.png'
					Source='INSTALLDIR\Syntax.MDX\AS.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C403' Guid='a6daa42c-8bcd-4987-b1bf-3f7bed71111f'>
				<File
					Id='I403'
					Name='N403'
					KeyPath='yes'
					LongName='axis_name.png'
					Source='INSTALLDIR\Syntax.MDX\axis_name.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C404' Guid='cab454ad-6d30-4f56-9aaa-2dca33c7eade'>
				<File
					Id='I404'
					Name='N404'
					KeyPath='yes'
					LongName='axis_specification.png'
					Source='INSTALLDIR\Syntax.MDX\axis_specification.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C405' Guid='b6b3e375-a81b-4d7b-8c12-2a1d01a33055'>
				<File
					Id='I405'
					Name='N405'
					KeyPath='yes'
					LongName='BY.png'
					Source='INSTALLDIR\Syntax.MDX\BY.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C406' Guid='4871dcd4-360e-45e0-b767-146982412e09'>
				<File
					Id='I406'
					Name='N406'
					KeyPath='yes'
					LongName='CALCULATED.png'
					Source='INSTALLDIR\Syntax.MDX\CALCULATED.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C407' Guid='d84ed150-9f6d-4eda-9025-d818bff73dca'>
				<File
					Id='I407'
					Name='N407'
					KeyPath='yes'
					LongName='CALCULATION.png'
					Source='INSTALLDIR\Syntax.MDX\CALCULATION.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C408' Guid='724e232f-49e4-49ac-92c2-7fbc3ec871a9'>
				<File
					Id='I408'
					Name='N408'
					KeyPath='yes'
					LongName='CASE.png'
					Source='INSTALLDIR\Syntax.MDX\CASE.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C409' Guid='42136ff1-e32e-49e3-8507-e4f56ee337c7'>
				<File
					Id='I409'
					Name='N409'
					KeyPath='yes'
					LongName='CELL.png'
					Source='INSTALLDIR\Syntax.MDX\CELL.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C410' Guid='e0a25f7c-00d0-47ef-82ba-99d05a81945c'>
				<File
					Id='I410'
					Name='N410'
					KeyPath='yes'
					LongName='CELL_ORDINAL.png'
					Source='INSTALLDIR\Syntax.MDX\CELL_ORDINAL.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C411' Guid='8725b59e-8d50-4f39-b627-9e37acf607fa'>
				<File
					Id='I411'
					Name='N411'
					KeyPath='yes'
					LongName='cell_property.png'
					Source='INSTALLDIR\Syntax.MDX\cell_property.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C412' Guid='180e30e8-4f80-4996-ace8-f5d1535bef63'>
				<File
					Id='I412'
					Name='N412'
					KeyPath='yes'
					LongName='COMMENT.png'
					Source='INSTALLDIR\Syntax.MDX\COMMENT.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C413' Guid='a16b0ce7-06cd-4343-81f8-39470bf38ef1'>
				<File
					Id='I413'
					Name='N413'
					KeyPath='yes'
					LongName='compound_id.png'
					Source='INSTALLDIR\Syntax.MDX\compound_id.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C414' Guid='44cd9c1b-415a-40fd-a43d-ce538668cc97'>
				<File
					Id='I414'
					Name='N414'
					KeyPath='yes'
					LongName='condition.png'
					Source='INSTALLDIR\Syntax.MDX\condition.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C415' Guid='05faad8a-14ca-49d2-9880-7b2b67bee3b7'>
				<File
					Id='I415'
					Name='N415'
					KeyPath='yes'
					LongName='CREATE.png'
					Source='INSTALLDIR\Syntax.MDX\CREATE.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C416' Guid='7a4d18b9-1df7-447d-80db-f404fd58511d'>
				<File
					Id='I416'
					Name='N416'
					KeyPath='yes'
					LongName='CUBE.png'
					Source='INSTALLDIR\Syntax.MDX\CUBE.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C417' Guid='3580f33c-c806-4a04-bea2-78b9267232ba'>
				<File
					Id='I417'
					Name='N417'
					KeyPath='yes'
					LongName='cube_name.png'
					Source='INSTALLDIR\Syntax.MDX\cube_name.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C418' Guid='fbbf9ce2-c1b2-4a64-ac1a-74dc8b19203c'>
				<File
					Id='I418'
					Name='N418'
					KeyPath='yes'
					LongName='cube_specification.png'
					Source='INSTALLDIR\Syntax.MDX\cube_specification.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C419' Guid='e885b7c0-4390-4e02-9224-a6e456ca121e'>
				<File
					Id='I419'
					Name='N419'
					KeyPath='yes'
					LongName='DIMENSION.png'
					Source='INSTALLDIR\Syntax.MDX\DIMENSION.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C420' Guid='571b91d8-616d-4a36-88dc-a4d44766f4a6'>
				<File
					Id='I420'
					Name='N420'
					KeyPath='yes'
					LongName='ELSE.png'
					Source='INSTALLDIR\Syntax.MDX\ELSE.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C421' Guid='fc8b7bda-1a45-495b-a691-3d0b35162058'>
				<File
					Id='I421'
					Name='N421'
					KeyPath='yes'
					LongName='EMPTY.png'
					Source='INSTALLDIR\Syntax.MDX\EMPTY.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C422' Guid='e7ec2a9c-2d1e-4d23-9ad4-7170bea7ae16'>
				<File
					Id='I422'
					Name='N422'
					KeyPath='yes'
					LongName='END.png'
					Source='INSTALLDIR\Syntax.MDX\END.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C423' Guid='dcd80964-9743-421e-bf02-8dc893edd34a'>
				<File
					Id='I423'
					Name='N423'
					KeyPath='yes'
					LongName='expression.png'
					Source='INSTALLDIR\Syntax.MDX\expression.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C424' Guid='9f6ed766-b657-45c1-a4f2-58fdd448ad63'>
				<File
					Id='I424'
					Name='N424'
					KeyPath='yes'
					LongName='expressions_list.png'
					Source='INSTALLDIR\Syntax.MDX\expressions_list.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C425' Guid='911aa189-17b7-4962-8816-0604a8b8baac'>
				<File
					Id='I425'
					Name='N425'
					KeyPath='yes'
					LongName='expression_add.png'
					Source='INSTALLDIR\Syntax.MDX\expression_add.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C426' Guid='9ff467f3-0a2d-48a1-bfc0-584719282e90'>
				<File
					Id='I426'
					Name='N426'
					KeyPath='yes'
					LongName='expression_and.png'
					Source='INSTALLDIR\Syntax.MDX\expression_and.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C427' Guid='f6c477ba-56e7-4c39-b702-a2c79358a51f'>
				<File
					Id='I427'
					Name='N427'
					KeyPath='yes'
					LongName='expression_case.png'
					Source='INSTALLDIR\Syntax.MDX\expression_case.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C428' Guid='f68c49d8-1bb7-4b0e-bd29-2dfab623098c'>
				<File
					Id='I428'
					Name='N428'
					KeyPath='yes'
					LongName='expression_compare.png'
					Source='INSTALLDIR\Syntax.MDX\expression_compare.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C429' Guid='cccfafa7-30c5-4316-9801-f20b64664d02'>
				<File
					Id='I429'
					Name='N429'
					KeyPath='yes'
					LongName='expression_function.png'
					Source='INSTALLDIR\Syntax.MDX\expression_function.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C430' Guid='7eb298b2-c354-43a4-8101-16e733959588'>
				<File
					Id='I430'
					Name='N430'
					KeyPath='yes'
					LongName='expression_mult.png'
					Source='INSTALLDIR\Syntax.MDX\expression_mult.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C431' Guid='25e91805-b284-4840-af32-60d1340d3f64'>
				<File
					Id='I431'
					Name='N431'
					KeyPath='yes'
					LongName='expression_or_xor.png'
					Source='INSTALLDIR\Syntax.MDX\expression_or_xor.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C432' Guid='fe9e86f3-c625-456b-9ae1-5ec4f66b94ef'>
				<File
					Id='I432'
					Name='N432'
					KeyPath='yes'
					LongName='expression_power.png'
					Source='INSTALLDIR\Syntax.MDX\expression_power.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C433' Guid='111a6f2f-75f3-463e-b23a-ea06176956b9'>
				<File
					Id='I433'
					Name='N433'
					KeyPath='yes'
					LongName='expression_property.png'
					Source='INSTALLDIR\Syntax.MDX\expression_property.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C434' Guid='0546ecd6-5f84-4645-976f-c5a204a9ced6'>
				<File
					Id='I434'
					Name='N434'
					KeyPath='yes'
					LongName='expression_range_is.png'
					Source='INSTALLDIR\Syntax.MDX\expression_range_is.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C435' Guid='43d889b0-6446-4bcd-8cce-507b10ecb9d8'>
				<File
					Id='I435'
					Name='N435'
					KeyPath='yes'
					LongName='expression_simple.png'
					Source='INSTALLDIR\Syntax.MDX\expression_simple.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C436' Guid='54995bc0-0bb6-4063-8422-55e9e7adeb2c'>
				<File
					Id='I436'
					Name='N436'
					KeyPath='yes'
					LongName='expression_unary.png'
					Source='INSTALLDIR\Syntax.MDX\expression_unary.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C437' Guid='f6d3d85a-577a-4f86-b89a-78d92b0d0c28'>
				<File
					Id='I437'
					Name='N437'
					KeyPath='yes'
					LongName='FLOAT.png'
					Source='INSTALLDIR\Syntax.MDX\FLOAT.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C438' Guid='898e4a89-32d9-44b6-bdbb-e70bd2e81e6d'>
				<File
					Id='I438'
					Name='N438'
					KeyPath='yes'
					LongName='FOR.png'
					Source='INSTALLDIR\Syntax.MDX\FOR.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C439' Guid='adee3bac-6252-46ad-8a02-243020622f74'>
				<File
					Id='I439'
					Name='N439'
					KeyPath='yes'
					LongName='FORMATTED_VALUE.png'
					Source='INSTALLDIR\Syntax.MDX\FORMATTED_VALUE.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C440' Guid='ed54b02d-c770-4a0f-bbf0-9648b86b02ab'>
				<File
					Id='I440'
					Name='N440'
					KeyPath='yes'
					LongName='FROM.png'
					Source='INSTALLDIR\Syntax.MDX\FROM.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C441' Guid='46fad00f-4f82-42b5-aca1-d769c003108f'>
				<File
					Id='I441'
					Name='N441'
					KeyPath='yes'
					LongName='GLOBAL.png'
					Source='INSTALLDIR\Syntax.MDX\GLOBAL.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C442' Guid='0fcbc16e-074d-454d-8283-0c1f8b393f51'>
				<File
					Id='I442'
					Name='N442'
					KeyPath='yes'
					LongName='ID.png'
					Source='INSTALLDIR\Syntax.MDX\ID.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C443' Guid='8821d848-103d-4e4c-b9b4-4cfa1e636276'>
				<File
					Id='I443'
					Name='N443'
					KeyPath='yes'
					LongName='identifier.png'
					Source='INSTALLDIR\Syntax.MDX\identifier.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C444' Guid='c672dbb1-e218-4bf4-aee5-a06159c21016'>
				<File
					Id='I444'
					Name='N444'
					KeyPath='yes'
					LongName='INTEGER.png'
					Source='INSTALLDIR\Syntax.MDX\INTEGER.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C445' Guid='d15cc673-c194-4847-99d4-2caacd77a9dd'>
				<File
					Id='I445'
					Name='N445'
					KeyPath='yes'
					LongName='IS.png'
					Source='INSTALLDIR\Syntax.MDX\IS.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C446' Guid='63f0b40c-f8e1-4a7a-9bf9-0e3a91ac367b'>
				<File
					Id='I446'
					Name='N446'
					KeyPath='yes'
					LongName='keyword.png'
					Source='INSTALLDIR\Syntax.MDX\keyword.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C447' Guid='704fe779-5a54-4289-b245-a1f45cade234'>
				<File
					Id='I447'
					Name='N447'
					KeyPath='yes'
					LongName='LINE_COMMENT.png'
					Source='INSTALLDIR\Syntax.MDX\LINE_COMMENT.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C448' Guid='21c7f03b-c98e-4536-803e-65af39b01036'>
				<File
					Id='I448'
					Name='N448'
					KeyPath='yes'
					LongName='mdx_statement.png'
					Source='INSTALLDIR\Syntax.MDX\mdx_statement.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C449' Guid='36cdfa7c-09cc-49f9-90ee-09580213671d'>
				<File
					Id='I449'
					Name='N449'
					KeyPath='yes'
					LongName='mdx_statement_single.png'
					Source='INSTALLDIR\Syntax.MDX\mdx_statement_single.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C450' Guid='480e2d8c-9236-4d58-a438-cf4b26285405'>
				<File
					Id='I450'
					Name='N450'
					KeyPath='yes'
					LongName='MEMBER.png'
					Source='INSTALLDIR\Syntax.MDX\MEMBER.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C451' Guid='48adb2cd-0e43-4625-87ad-b0359156b037'>
				<File
					Id='I451'
					Name='N451'
					KeyPath='yes'
					LongName='member_name.png'
					Source='INSTALLDIR\Syntax.MDX\member_name.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C452' Guid='2085a3df-eb13-4776-bbd9-990cec081776'>
				<File
					Id='I452'
					Name='N452'
					KeyPath='yes'
					LongName='NON.png'
					Source='INSTALLDIR\Syntax.MDX\NON.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C453' Guid='46ebcd99-8235-4f31-9b0d-828cf5908a48'>
				<File
					Id='I453'
					Name='N453'
					KeyPath='yes'
					LongName='NOT.png'
					Source='INSTALLDIR\Syntax.MDX\NOT.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C454' Guid='e792cbbb-1396-4a69-9d37-f49cd0dd304a'>
				<File
					Id='I454'
					Name='N454'
					KeyPath='yes'
					LongName='ON.png'
					Source='INSTALLDIR\Syntax.MDX\ON.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C455' Guid='20d1b1f0-1e16-4b7b-b403-c685ecc141b6'>
				<File
					Id='I455'
					Name='N455'
					KeyPath='yes'
					LongName='OR.png'
					Source='INSTALLDIR\Syntax.MDX\OR.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C456' Guid='dc4d675f-98bd-4634-bed6-a667c49d4625'>
				<File
					Id='I456'
					Name='N456'
					KeyPath='yes'
					LongName='PROPERTIES.png'
					Source='INSTALLDIR\Syntax.MDX\PROPERTIES.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C457' Guid='4cd086dc-e5c9-4ad0-89cd-6d49ae86cdd2'>
				<File
					Id='I457'
					Name='N457'
					KeyPath='yes'
					LongName='property.png'
					Source='INSTALLDIR\Syntax.MDX\property.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C458' Guid='93ddbd06-d7dc-4d8f-b9a9-ffc8e7c2e836'>
				<File
					Id='I458'
					Name='N458'
					KeyPath='yes'
					LongName='property_definition.png'
					Source='INSTALLDIR\Syntax.MDX\property_definition.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C459' Guid='c7c14226-24fc-49f9-9a20-28751cbca952'>
				<File
					Id='I459'
					Name='N459'
					KeyPath='yes'
					LongName='provider_specific_cell_property.png'
					Source='INSTALLDIR\Syntax.MDX\provider_specific_cell_property.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C460' Guid='d165a816-c7d3-46da-a408-43310eb9cc53'>
				<File
					Id='I460'
					Name='N460'
					KeyPath='yes'
					LongName='QUOTED_ID.png'
					Source='INSTALLDIR\Syntax.MDX\QUOTED_ID.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C461' Guid='b2761c07-4665-4ee1-808b-df025082283c'>
				<File
					Id='I461'
					Name='N461'
					KeyPath='yes'
					LongName='quoted_identifier.png'
					Source='INSTALLDIR\Syntax.MDX\quoted_identifier.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C462' Guid='bd53eb5b-0eee-45a4-8aeb-7388b63a298b'>
				<File
					Id='I462'
					Name='N462'
					KeyPath='yes'
					LongName='RANET_EXPRESSION.png'
					Source='INSTALLDIR\Syntax.MDX\RANET_EXPRESSION.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C463' Guid='298a0e58-60d7-455e-965a-c1e8ee6de1b2'>
				<File
					Id='I463'
					Name='N463'
					KeyPath='yes'
					LongName='SELECT.png'
					Source='INSTALLDIR\Syntax.MDX\SELECT.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C464' Guid='d4fe7f21-faad-4dec-9ee8-d96d4af27a00'>
				<File
					Id='I464'
					Name='N464'
					KeyPath='yes'
					LongName='select_statement.png'
					Source='INSTALLDIR\Syntax.MDX\select_statement.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C465' Guid='252cba9c-4243-4ab0-9c51-398768673d68'>
				<File
					Id='I465'
					Name='N465'
					KeyPath='yes'
					LongName='select_statement_subcube.png'
					Source='INSTALLDIR\Syntax.MDX\select_statement_subcube.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C466' Guid='794f970a-474f-4b8e-9b98-63aecb316b28'>
				<File
					Id='I466'
					Name='N466'
					KeyPath='yes'
					LongName='SESSION.png'
					Source='INSTALLDIR\Syntax.MDX\SESSION.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C467' Guid='866e1693-9791-456a-8b0c-074860e3f59b'>
				<File
					Id='I467'
					Name='N467'
					KeyPath='yes'
					LongName='SET.png'
					Source='INSTALLDIR\Syntax.MDX\SET.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C468' Guid='5963a85e-5d31-49b8-9af7-028059ae0dae'>
				<File
					Id='I468'
					Name='N468'
					KeyPath='yes'
					LongName='set_name.png'
					Source='INSTALLDIR\Syntax.MDX\set_name.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C469' Guid='8f4e4271-ef8a-4c0f-8c6d-d8a5bc9ce724'>
				<File
					Id='I469'
					Name='N469'
					KeyPath='yes'
					LongName='STRING.png'
					Source='INSTALLDIR\Syntax.MDX\STRING.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C470' Guid='57d15ef1-5215-4dae-b9ad-e07c7cecc23b'>
				<File
					Id='I470'
					Name='N470'
					KeyPath='yes'
					LongName='THEN.png'
					Source='INSTALLDIR\Syntax.MDX\THEN.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C471' Guid='3a1dc579-2dc9-4415-b35c-1fc03f4ee102'>
				<File
					Id='I471'
					Name='N471'
					KeyPath='yes'
					LongName='unquoted_identifier.png'
					Source='INSTALLDIR\Syntax.MDX\unquoted_identifier.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C472' Guid='a0b5c998-8c7b-4b0a-a35e-5b395321e903'>
				<File
					Id='I472'
					Name='N472'
					KeyPath='yes'
					LongName='UPDATE.png'
					Source='INSTALLDIR\Syntax.MDX\UPDATE.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C473' Guid='f94b0bb5-6a8d-4300-8a24-512f100785a5'>
				<File
					Id='I473'
					Name='N473'
					KeyPath='yes'
					LongName='update_statement.png'
					Source='INSTALLDIR\Syntax.MDX\update_statement.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C474' Guid='41f7caa8-3b84-46a4-ad94-c860885f5e2d'>
				<File
					Id='I474'
					Name='N474'
					KeyPath='yes'
					LongName='USE_EQUAL_ALLOCATION.png'
					Source='INSTALLDIR\Syntax.MDX\USE_EQUAL_ALLOCATION.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C475' Guid='cef0bb2e-a512-406d-b321-99ea5b9d5aee'>
				<File
					Id='I475'
					Name='N475'
					KeyPath='yes'
					LongName='USE_EQUAL_INCREMENT.png'
					Source='INSTALLDIR\Syntax.MDX\USE_EQUAL_INCREMENT.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C476' Guid='cda095fd-0765-42f2-94fa-5c8431c6d902'>
				<File
					Id='I476'
					Name='N476'
					KeyPath='yes'
					LongName='USE_WEIGHTED_ALLOCATION.png'
					Source='INSTALLDIR\Syntax.MDX\USE_WEIGHTED_ALLOCATION.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C477' Guid='950774da-3694-4ae5-8ce6-358ae830bde8'>
				<File
					Id='I477'
					Name='N477'
					KeyPath='yes'
					LongName='USE_WEIGHTED_INCREMENT.png'
					Source='INSTALLDIR\Syntax.MDX\USE_WEIGHTED_INCREMENT.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C478' Guid='36a55374-afcd-4a50-a087-686d595632d3'>
				<File
					Id='I478'
					Name='N478'
					KeyPath='yes'
					LongName='VALUE.png'
					Source='INSTALLDIR\Syntax.MDX\VALUE.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C479' Guid='7c0d9996-6224-4b52-9364-14e0f5c174ae'>
				<File
					Id='I479'
					Name='N479'
					KeyPath='yes'
					LongName='VISUAL.png'
					Source='INSTALLDIR\Syntax.MDX\VISUAL.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C480' Guid='1b73ac7b-3462-4343-8a97-fe592223fdc0'>
				<File
					Id='I480'
					Name='N480'
					KeyPath='yes'
					LongName='weight_value_expression.png'
					Source='INSTALLDIR\Syntax.MDX\weight_value_expression.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C481' Guid='98fbb047-ca12-4446-b113-cccfcdd3905f'>
				<File
					Id='I481'
					Name='N481'
					KeyPath='yes'
					LongName='WHEN.png'
					Source='INSTALLDIR\Syntax.MDX\WHEN.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C482' Guid='64217811-a555-440b-bc11-0accd957006f'>
				<File
					Id='I482'
					Name='N482'
					KeyPath='yes'
					LongName='when_clause.png'
					Source='INSTALLDIR\Syntax.MDX\when_clause.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C483' Guid='b3f6a949-280e-4b97-8f83-90837635b232'>
				<File
					Id='I483'
					Name='N483'
					KeyPath='yes'
					LongName='WHERE.png'
					Source='INSTALLDIR\Syntax.MDX\WHERE.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C484' Guid='0ab8a6ca-9bda-4108-950b-5934caf8fed5'>
				<File
					Id='I484'
					Name='N484'
					KeyPath='yes'
					LongName='WITH.png'
					Source='INSTALLDIR\Syntax.MDX\WITH.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C485' Guid='eb4bd08b-a0c0-4ffd-961b-15377d7d67f4'>
				<File
					Id='I485'
					Name='N485'
					KeyPath='yes'
					LongName='with_clause_single.png'
					Source='INSTALLDIR\Syntax.MDX\with_clause_single.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C486' Guid='5e15ad1e-d74a-43c0-a3c7-22b3c3cb36a3'>
				<File
					Id='I486'
					Name='N486'
					KeyPath='yes'
					LongName='WS.png'
					Source='INSTALLDIR\Syntax.MDX\WS.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Syntax.MDX'>
			<Component Id='C487' Guid='217e018a-c8aa-43a1-8993-8bcb063d2902'>
				<File
					Id='I487'
					Name='N487'
					KeyPath='yes'
					LongName='XOR.png'
					Source='INSTALLDIR\Syntax.MDX\XOR.png'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<ComponentGroup Id='all'>
			<ComponentRef Id='C401'/>
			<ComponentRef Id='C402'/>
			<ComponentRef Id='C403'/>
			<ComponentRef Id='C404'/>
			<ComponentRef Id='C405'/>
			<ComponentRef Id='C406'/>
			<ComponentRef Id='C407'/>
			<ComponentRef Id='C408'/>
			<ComponentRef Id='C409'/>
			<ComponentRef Id='C410'/>
			<ComponentRef Id='C411'/>
			<ComponentRef Id='C412'/>
			<ComponentRef Id='C413'/>
			<ComponentRef Id='C414'/>
			<ComponentRef Id='C415'/>
			<ComponentRef Id='C416'/>
			<ComponentRef Id='C417'/>
			<ComponentRef Id='C418'/>
			<ComponentRef Id='C419'/>
			<ComponentRef Id='C420'/>
			<ComponentRef Id='C421'/>
			<ComponentRef Id='C422'/>
			<ComponentRef Id='C423'/>
			<ComponentRef Id='C424'/>
			<ComponentRef Id='C425'/>
			<ComponentRef Id='C426'/>
			<ComponentRef Id='C427'/>
			<ComponentRef Id='C428'/>
			<ComponentRef Id='C429'/>
			<ComponentRef Id='C430'/>
			<ComponentRef Id='C431'/>
			<ComponentRef Id='C432'/>
			<ComponentRef Id='C433'/>
			<ComponentRef Id='C434'/>
			<ComponentRef Id='C435'/>
			<ComponentRef Id='C436'/>
			<ComponentRef Id='C437'/>
			<ComponentRef Id='C438'/>
			<ComponentRef Id='C439'/>
			<ComponentRef Id='C440'/>
			<ComponentRef Id='C441'/>
			<ComponentRef Id='C442'/>
			<ComponentRef Id='C443'/>
			<ComponentRef Id='C444'/>
			<ComponentRef Id='C445'/>
			<ComponentRef Id='C446'/>
			<ComponentRef Id='C447'/>
			<ComponentRef Id='C448'/>
			<ComponentRef Id='C449'/>
			<ComponentRef Id='C450'/>
			<ComponentRef Id='C451'/>
			<ComponentRef Id='C452'/>
			<ComponentRef Id='C453'/>
			<ComponentRef Id='C454'/>
			<ComponentRef Id='C455'/>
			<ComponentRef Id='C456'/>
			<ComponentRef Id='C457'/>
			<ComponentRef Id='C458'/>
			<ComponentRef Id='C459'/>
			<ComponentRef Id='C460'/>
			<ComponentRef Id='C461'/>
			<ComponentRef Id='C462'/>
			<ComponentRef Id='C463'/>
			<ComponentRef Id='C464'/>
			<ComponentRef Id='C465'/>
			<ComponentRef Id='C466'/>
			<ComponentRef Id='C467'/>
			<ComponentRef Id='C468'/>
			<ComponentRef Id='C469'/>
			<ComponentRef Id='C470'/>
			<ComponentRef Id='C471'/>
			<ComponentRef Id='C472'/>
			<ComponentRef Id='C473'/>
			<ComponentRef Id='C474'/>
			<ComponentRef Id='C475'/>
			<ComponentRef Id='C476'/>
			<ComponentRef Id='C477'/>
			<ComponentRef Id='C478'/>
			<ComponentRef Id='C479'/>
			<ComponentRef Id='C480'/>
			<ComponentRef Id='C481'/>
			<ComponentRef Id='C482'/>
			<ComponentRef Id='C483'/>
			<ComponentRef Id='C484'/>
			<ComponentRef Id='C485'/>
			<ComponentRef Id='C486'/>
			<ComponentRef Id='C487'/>
		</ComponentGroup>
	</Fragment>
</Wix>