<?xml version='1.0' encoding='windows-1251' ?>
<Wix xmlns='http://schemas.microsoft.com/wix/2003/01/wi'
     xmlns:netfx='http://schemas.microsoft.com/wix/NetFxExtension'
>
	<Fragment Id='Files.wxs'>
		<DirectoryRef Id='INSTALLDIR_SILVERLIGHT_BIN'>
			<Component Id='C88' Guid='5e0ea648-463e-4491-92a1-67c2e3411c66'>
				<File
					Id='I88'
					Name='N88'
					KeyPath='yes'
					LongName='Ranet.AgOlap.Core.dll'
					Source='..\..\Binaries\Release\Ranet.AgOlap.Core.dll'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_SILVERLIGHT_SYMBOLS'>
			<Component Id='C89' Guid='a8c7db1b-ef85-4fd8-9308-708dccf55ecc'>
				<File
					Id='I89'
					Name='N89'
					KeyPath='yes'
					LongName='Ranet.AgOlap.Core.pdb'
					Source='..\..\Binaries\Release\Ranet.AgOlap.Core.pdb'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_SILVERLIGHT_BIN'>
			<Component Id='C90' Guid='87e3dd62-434d-44b1-8f3e-04f6dfe0057e'>
				<File
					Id='I90'
					Name='N90'
					KeyPath='yes'
					LongName='Ranet.AgOlap.Core.xml'
					Source='..\..\Binaries\Release\Ranet.AgOlap.Core.xml'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_SILVERLIGHT_BIN'>
			<Component Id='C91' Guid='837f3ff4-0354-42dd-bda7-5ef6704ee56f'>
				<File
					Id='I91'
					Name='N91'
					KeyPath='yes'
					LongName='Ranet.AgOlap.dll'
					Source='..\..\Binaries\Release\Ranet.AgOlap.dll'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_SILVERLIGHT_BIN'>
			<Component Id='C92' Guid='9141b8a0-1ee8-42ab-91e8-69334b9cf263'>
				<File
					Id='I92'
					Name='N92'
					KeyPath='yes'
					LongName='Ranet.AgOlap.Mdx.dll'
					Source='..\..\Binaries\Release\Ranet.AgOlap.Mdx.dll'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_SILVERLIGHT_SYMBOLS'>
			<Component Id='C93' Guid='4bb04563-7b91-4d0e-a5fe-8a1e10f36bde'>
				<File
					Id='I93'
					Name='N93'
					KeyPath='yes'
					LongName='Ranet.AgOlap.Mdx.pdb'
					Source='..\..\Binaries\Release\Ranet.AgOlap.Mdx.pdb'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_SILVERLIGHT_BIN'>
			<Component Id='C94' Guid='7f0c072b-2c6e-439f-a829-401f3a361313'>
				<File
					Id='I94'
					Name='N94'
					KeyPath='yes'
					LongName='Ranet.AgOlap.Mdx.xml'
					Source='..\..\Binaries\Release\Ranet.AgOlap.Mdx.xml'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_SILVERLIGHT_SYMBOLS'>
			<Component Id='C95' Guid='f1bed77c-26f5-48ff-ac5f-46bd4b6d5c45'>
				<File
					Id='I95'
					Name='N95'
					KeyPath='yes'
					LongName='Ranet.AgOlap.pdb'
					Source='..\..\Binaries\Release\Ranet.AgOlap.pdb'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_SILVERLIGHT_BIN'>
			<Component Id='C96' Guid='76cd9950-0c06-4546-9dc2-8bbe6e777619'>
				<File
					Id='I96'
					Name='N96'
					KeyPath='yes'
					LongName='Ranet.AgOlap.xml'
					Source='..\..\Binaries\Release\Ranet.AgOlap.xml'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_FRAMEWORK_BIN'>
			<Component Id='C97' Guid='37728112-88a4-42ef-9f66-c8ac8dcbcce7'>
				<File
					Id='I97'
					Name='N97'
					KeyPath='yes'
					LongName='Ranet.Olap.Core.dll'
					Source='..\..\Binaries\Release\Ranet.Olap.Core.dll'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_FRAMEWORK_SYMBOLS'>
			<Component Id='C98' Guid='34db1b21-d7da-4d52-92e7-95cf2e9544fc'>
				<File
					Id='I98'
					Name='N98'
					KeyPath='yes'
					LongName='Ranet.Olap.Core.pdb'
					Source='..\..\Binaries\Release\Ranet.Olap.Core.pdb'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_FRAMEWORK_BIN'>
			<Component Id='C99' Guid='01341a63-afae-42bf-b33a-3a7935d74d42'>
				<File
					Id='I99'
					Name='N99'
					KeyPath='yes'
					LongName='Ranet.Olap.Core.xml'
					Source='..\..\Binaries\Release\Ranet.Olap.Core.xml'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_FRAMEWORK_BIN'>
			<Component Id='C100' Guid='7cc00243-3880-46cd-8f7d-6436eeda3769'>
				<File
					Id='I100'
					Name='N100'
					KeyPath='yes'
					LongName='Ranet.Olap.Mdx.dll'
					Source='..\..\Binaries\Release\Ranet.Olap.Mdx.dll'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_FRAMEWORK_SYMBOLS'>
			<Component Id='C101' Guid='835091a9-8d10-4f68-9737-3a1b6f778d98'>
				<File
					Id='I101'
					Name='N101'
					KeyPath='yes'
					LongName='Ranet.Olap.Mdx.pdb'
					Source='..\..\Binaries\Release\Ranet.Olap.Mdx.pdb'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_FRAMEWORK_BIN'>
			<Component Id='C102' Guid='23425630-fb5d-4ca4-981b-f85cf8d43241'>
				<File
					Id='I102'
					Name='N102'
					KeyPath='yes'
					LongName='Ranet.Olap.Mdx.xml'
					Source='..\..\Binaries\Release\Ranet.Olap.Mdx.xml'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_FRAMEWORK_BIN'>
			<Component Id='C103' Guid='aabfeeee-cd3d-498a-93f7-d0ce01d89aa9'>
				<File
					Id='I103'
					Name='N103'
					KeyPath='yes'
					LongName='Ranet.Web.Olap.dll'
					Source='..\..\Binaries\Release\Ranet.Web.Olap.dll'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_FRAMEWORK_BIN'>
			<Component Id='C104' Guid='b3dcb714-bedd-4419-9e21-b002e14acdec'>
				<File
					Id='I104'
					Name='N104'
					KeyPath='yes'
					LongName='Ranet.Web.Olap.xml'
					Source='..\..\Binaries\Release\Ranet.Web.Olap.xml'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_SILVERLIGHT_BIN_RU'>
			<Component Id='C105' Guid='4ea81ac2-372f-4c49-9dd4-0231e6542845'>
				<File
					Id='I105'
					Name='N105'
					KeyPath='yes'
					LongName='Ranet.AgOlap.resources.dll'
					Source='..\..\Binaries\Release\ru\Ranet.AgOlap.resources.dll'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_FRAMEWORK_SYMBOLS'>
			<Component Id='C106' Guid='2d37628f-865a-41d3-9a3d-32258db70de7'>
				<File
					Id='I106'
					Name='N106'
					KeyPath='yes'
					LongName='Ranet.Web.Olap.pdb'
					Source='..\..\Binaries\Release\Ranet.Web.Olap.pdb'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_FRAMEWORK_BIN_RU'>
			<Component Id='C107' Guid='b5a98dd2-cccd-4c2e-bb07-6904c1de3df1'>
				<File
					Id='I107'
					Name='N107'
					KeyPath='yes'
					LongName='Ranet.Olap.Core.resources.dll'
					Source='..\..\Binaries\Release\ru\Ranet.Olap.Core.resources.dll'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Licenses'>
			<Component Id='C108' Guid='ea48d29f-a8ac-435d-b033-4b2ca83f1db2'>
				<File
					Id='I108'
					Name='N108'
					KeyPath='yes'
					LongName='BSD-Antlr.Runtime.txt'
					Source='..\!ProductInfo\Licenses\BSD-Antlr.Runtime.txt'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_SILVERLIGHT_BIN'>
			<Component Id='C109' Guid='0426197f-1b53-4a53-b00f-e74e0f8caeec'>
				<File
					Id='I109'
					Name='N109'
					KeyPath='yes'
					LongName='Ranet.AgZipLib.dll'
					Source='..\..\Binaries\Release\Ranet.AgZipLib.dll'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_SILVERLIGHT_SYMBOLS'>
			<Component Id='C110' Guid='0e728d83-7e7c-4960-b1af-bcf30719990a'>
				<File
					Id='I110'
					Name='N110'
					KeyPath='yes'
					LongName='Ranet.AgZipLib.pdb'
					Source='..\..\Binaries\Release\Ranet.AgZipLib.pdb'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_SILVERLIGHT_BIN'>
			<Component Id='C111' Guid='a072e059-c6dc-4481-8b32-5559d13fb085'>
				<File
					Id='I111'
					Name='N111'
					KeyPath='yes'
					LongName='Ranet.AgZipLib.xml'
					Source='..\..\Binaries\Release\Ranet.AgZipLib.xml'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_FRAMEWORK_BIN'>
			<Component Id='C112' Guid='aec7eeca-b201-4bef-9987-8aeb75313e99'>
				<File
					Id='I112'
					Name='N112'
					KeyPath='yes'
					LongName='Ranet.ZipLib.dll'
					Source='..\..\Binaries\Release\Ranet.ZipLib.dll'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_FRAMEWORK_SYMBOLS'>
			<Component Id='C113' Guid='8ff41da3-398f-44e5-8752-3ddfcdc8f47a'>
				<File
					Id='I113'
					Name='N113'
					KeyPath='yes'
					LongName='Ranet.ZipLib.pdb'
					Source='..\..\Binaries\Release\Ranet.ZipLib.pdb'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_FRAMEWORK_BIN'>
			<Component Id='C114' Guid='dfbd2836-a78a-4d67-9f0b-928ccd5a1799'>
				<File
					Id='I114'
					Name='N114'
					KeyPath='yes'
					LongName='Ranet.ZipLib.xml'
					Source='..\..\Binaries\Release\Ranet.ZipLib.xml'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Licenses'>
			<Component Id='C115' Guid='634b04b2-cc96-47b7-854f-82ecb18d05b8'>
				<File
					Id='I115'
					Name='N115'
					KeyPath='yes'
					LongName='GPL v.3.txt'
					Source='..\dll\GPL v.3.txt'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_SILVERLIGHT_BIN'>
			<Component Id='C116' Guid='a1490136-f221-4994-8594-e19696bf5206'>
				<File
					Id='I116'
					Name='N116'
					KeyPath='yes'
					LongName='Jayrock.AgJson.dll'
					Source='..\dll\Jayrock.AgJson.dll'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_SILVERLIGHT_SYMBOLS'>
			<Component Id='C117' Guid='95d674a4-cb63-4bdb-98c3-f19131729e1a'>
				<File
					Id='I117'
					Name='N117'
					KeyPath='yes'
					LongName='Jayrock.AgJson.pdb'
					Source='..\dll\Jayrock.AgJson.pdb'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_SILVERLIGHT_BIN'>
			<Component Id='C118' Guid='486e5a63-cdb5-4426-83c4-a9374a98ddee'>
				<File
					Id='I118'
					Name='N118'
					KeyPath='yes'
					LongName='Jayrock.AgJson.xml'
					Source='..\dll\Jayrock.AgJson.xml'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_FRAMEWORK_BIN'>
			<Component Id='C119' Guid='4eca18f5-a5c1-45b5-9377-05ab58a642e0'>
				<File
					Id='I119'
					Name='N119'
					KeyPath='yes'
					LongName='Jayrock.Json.dll'
					Source='..\dll\Jayrock.Json.dll'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_FRAMEWORK_SYMBOLS'>
			<Component Id='C120' Guid='5ff959c5-69d9-4efd-99fe-242cbacd6b2c'>
				<File
					Id='I120'
					Name='N120'
					KeyPath='yes'
					LongName='Jayrock.Json.pdb'
					Source='..\dll\Jayrock.Json.pdb'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_FRAMEWORK_BIN'>
			<Component Id='C121' Guid='28c73bc4-3669-40ec-bab2-c0ff4283031e'>
				<File
					Id='I121'
					Name='N121'
					KeyPath='yes'
					LongName='Jayrock.Json.xml'
					Source='..\dll\Jayrock.Json.xml'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Licenses'>
			<Component Id='C122' Guid='dd5b0d64-c3d0-4387-9c62-b3aa59086554'>
				<File
					Id='I122'
					Name='N122'
					KeyPath='yes'
					LongName='LGPL v.3.txt'
					Source='..\dll\LGPL v.3.txt'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Licenses'>
			<Component Id='C123' Guid='77d88a82-0611-4213-b7a7-eb70b5e3b012'>
				<File
					Id='I123'
					Name='N123'
					KeyPath='yes'
					LongName='Ranet.Json.License.txt'
					Source='..\dll\Ranet.Json.License.txt'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Licenses'>
			<Component Id='C124' Guid='dc96a77c-7bd8-481f-b9bd-fc0c8986d96a'>
				<File
					Id='I124'
					Name='N124'
					KeyPath='yes'
					LongName='Ranet.ZipLib.License.txt'
					Source='..\dll\Ranet.ZipLib.License.txt'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Licenses'>
			<Component Id='C125' Guid='433f73c0-dda6-4959-83bb-1ef7e9610289'>
				<File
					Id='I125'
					Name='N125'
					KeyPath='yes'
					LongName='SilverlightToolkit.License.txt'
					Source='..\dll\SilverlightToolkit.License.txt'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Licenses'>
			<Component Id='C126' Guid='3a15bd2d-0c1a-4ade-807c-bef33df08f88'>
				<File
					Id='I126'
					Name='N126'
					KeyPath='yes'
					LongName='Ranet.UILibrary.Olap.License.rtf'
					Source='..\!ProductInfo\Licenses\Ranet.UILibrary.Olap.License.rtf'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Licenses'>
			<Component Id='C127' Guid='b3bba6d0-5414-4656-b1eb-0cd802bf7109'>
				<File
					Id='I127'
					Name='N127'
					KeyPath='yes'
					LongName='Ranet.UILibrary.Olap.License.ru.rtf'
					Source='..\!ProductInfo\Licenses\Ranet.UILibrary.Olap.License.ru.rtf'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<ComponentGroup Id='all'>
			<ComponentRef Id='C88'/>
			<ComponentRef Id='C89'/>
			<ComponentRef Id='C90'/>
			<ComponentRef Id='C91'/>
			<ComponentRef Id='C92'/>
			<ComponentRef Id='C93'/>
			<ComponentRef Id='C94'/>
			<ComponentRef Id='C95'/>
			<ComponentRef Id='C96'/>
			<ComponentRef Id='C97'/>
			<ComponentRef Id='C98'/>
			<ComponentRef Id='C99'/>
			<ComponentRef Id='C100'/>
			<ComponentRef Id='C101'/>
			<ComponentRef Id='C102'/>
			<ComponentRef Id='C103'/>
			<ComponentRef Id='C104'/>
			<ComponentRef Id='C105'/>
			<ComponentRef Id='C106'/>
			<ComponentRef Id='C107'/>
			<ComponentRef Id='C108'/>
			<ComponentRef Id='C109'/>
			<ComponentRef Id='C110'/>
			<ComponentRef Id='C111'/>
			<ComponentRef Id='C112'/>
			<ComponentRef Id='C113'/>
			<ComponentRef Id='C114'/>
			<ComponentRef Id='C115'/>
			<ComponentRef Id='C116'/>
			<ComponentRef Id='C117'/>
			<ComponentRef Id='C118'/>
			<ComponentRef Id='C119'/>
			<ComponentRef Id='C120'/>
			<ComponentRef Id='C121'/>
			<ComponentRef Id='C122'/>
			<ComponentRef Id='C123'/>
			<ComponentRef Id='C124'/>
			<ComponentRef Id='C125'/>
			<ComponentRef Id='C126'/>
			<ComponentRef Id='C127'/>
		</ComponentGroup>
	</Fragment>
</Wix>