<?xml version='1.0' encoding='windows-1251' ?>
<Wix xmlns='http://schemas.microsoft.com/wix/2003/01/wi'
     xmlns:netfx='http://schemas.microsoft.com/wix/NetFxExtension'
>
	<Fragment Id='Files.wxs'>
		<DirectoryRef Id='INSTALLDIR_SILVERLIGHT_BIN'>
			<Component Id='C133' Guid='a0f4605d-9c01-4be2-a3ee-c9fab23ae1b7'>
				<File
					Id='I133'
					Name='N133'
					KeyPath='yes'
					LongName='Ranet.AgOlap.Core.dll'
					Source='..\..\Binaries\Release\Ranet.AgOlap.Core.dll'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_SILVERLIGHT_SYMBOLS'>
			<Component Id='C134' Guid='edbe2bc0-7ede-4580-a3f3-858ac029dde1'>
				<File
					Id='I134'
					Name='N134'
					KeyPath='yes'
					LongName='Ranet.AgOlap.Core.pdb'
					Source='..\..\Binaries\Release\Ranet.AgOlap.Core.pdb'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_SILVERLIGHT_BIN'>
			<Component Id='C135' Guid='b051b879-6acd-423a-bc25-58d3532df892'>
				<File
					Id='I135'
					Name='N135'
					KeyPath='yes'
					LongName='Ranet.AgOlap.Core.xml'
					Source='..\..\Binaries\Release\Ranet.AgOlap.Core.xml'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_SILVERLIGHT_BIN'>
			<Component Id='C136' Guid='cb872bb2-30d2-4f84-83db-abf071e8b5f4'>
				<File
					Id='I136'
					Name='N136'
					KeyPath='yes'
					LongName='Ranet.AgOlap.dll'
					Source='..\..\Binaries\Release\Ranet.AgOlap.dll'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_SILVERLIGHT_BIN'>
			<Component Id='C137' Guid='c111c069-2b1f-4f49-bfe3-142c1778aaed'>
				<File
					Id='I137'
					Name='N137'
					KeyPath='yes'
					LongName='Ranet.AgOlap.Mdx.dll'
					Source='..\..\Binaries\Release\Ranet.AgOlap.Mdx.dll'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_SILVERLIGHT_SYMBOLS'>
			<Component Id='C138' Guid='056ce958-be4c-4cac-9126-bb3f3e4cebee'>
				<File
					Id='I138'
					Name='N138'
					KeyPath='yes'
					LongName='Ranet.AgOlap.Mdx.pdb'
					Source='..\..\Binaries\Release\Ranet.AgOlap.Mdx.pdb'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_SILVERLIGHT_BIN'>
			<Component Id='C139' Guid='c01d26b0-efe1-4e78-a660-3b2d058a7d55'>
				<File
					Id='I139'
					Name='N139'
					KeyPath='yes'
					LongName='Ranet.AgOlap.Mdx.xml'
					Source='..\..\Binaries\Release\Ranet.AgOlap.Mdx.xml'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_SILVERLIGHT_SYMBOLS'>
			<Component Id='C140' Guid='86b9b1da-9f7f-4684-b3f2-f615b73f667f'>
				<File
					Id='I140'
					Name='N140'
					KeyPath='yes'
					LongName='Ranet.AgOlap.pdb'
					Source='..\..\Binaries\Release\Ranet.AgOlap.pdb'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_SILVERLIGHT_BIN'>
			<Component Id='C141' Guid='cfaa14fc-dedf-4a42-ae71-13b134f15449'>
				<File
					Id='I141'
					Name='N141'
					KeyPath='yes'
					LongName='Ranet.AgOlap.xml'
					Source='..\..\Binaries\Release\Ranet.AgOlap.xml'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_FRAMEWORK_BIN'>
			<Component Id='C142' Guid='30270609-2d22-477b-ad6a-180927b86d48'>
				<File
					Id='I142'
					Name='N142'
					KeyPath='yes'
					LongName='Ranet.Olap.Core.dll'
					Source='..\..\Binaries\Release\Ranet.Olap.Core.dll'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_FRAMEWORK_SYMBOLS'>
			<Component Id='C143' Guid='55e9f525-6471-4a69-9bce-78eacf089592'>
				<File
					Id='I143'
					Name='N143'
					KeyPath='yes'
					LongName='Ranet.Olap.Core.pdb'
					Source='..\..\Binaries\Release\Ranet.Olap.Core.pdb'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_FRAMEWORK_BIN'>
			<Component Id='C144' Guid='bc35f839-5f5f-427f-a07d-269a7f68f092'>
				<File
					Id='I144'
					Name='N144'
					KeyPath='yes'
					LongName='Ranet.Olap.Core.xml'
					Source='..\..\Binaries\Release\Ranet.Olap.Core.xml'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_FRAMEWORK_BIN'>
			<Component Id='C145' Guid='e6c8f614-625f-4823-8296-c36f8ffc2ae4'>
				<File
					Id='I145'
					Name='N145'
					KeyPath='yes'
					LongName='Ranet.Olap.Mdx.dll'
					Source='..\..\Binaries\Release\Ranet.Olap.Mdx.dll'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_FRAMEWORK_SYMBOLS'>
			<Component Id='C146' Guid='909b6389-c5c7-4123-a4c2-bcd1e63525b4'>
				<File
					Id='I146'
					Name='N146'
					KeyPath='yes'
					LongName='Ranet.Olap.Mdx.pdb'
					Source='..\..\Binaries\Release\Ranet.Olap.Mdx.pdb'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_FRAMEWORK_BIN'>
			<Component Id='C147' Guid='90ee7438-769a-4304-95d1-4d0a1933d5d9'>
				<File
					Id='I147'
					Name='N147'
					KeyPath='yes'
					LongName='Ranet.Olap.Mdx.xml'
					Source='..\..\Binaries\Release\Ranet.Olap.Mdx.xml'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_FRAMEWORK_BIN'>
			<Component Id='C148' Guid='f471d09b-89e3-4f22-a016-b5967dc761b1'>
				<File
					Id='I148'
					Name='N148'
					KeyPath='yes'
					LongName='Ranet.Web.Olap.dll'
					Source='..\..\Binaries\Release\Ranet.Web.Olap.dll'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_FRAMEWORK_SYMBOLS'>
			<Component Id='C149' Guid='e1ac7317-234c-4f62-8914-1ba63b684d17'>
				<File
					Id='I149'
					Name='N149'
					KeyPath='yes'
					LongName='Ranet.Web.Olap.xml'
					Source='..\..\Binaries\Release\Ranet.Web.Olap.xml'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_SILVERLIGHT_BIN_RU'>
			<Component Id='C150' Guid='3716f411-5a66-442e-bd4c-dd8325da7c63'>
				<File
					Id='I150'
					Name='N150'
					KeyPath='yes'
					LongName='Ranet.AgOlap.resources.dll'
					Source='..\..\Binaries\Release\ru\Ranet.AgOlap.resources.dll'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_FRAMEWORK_SYMBOLS'>
			<Component Id='C151' Guid='ff25a044-8e59-4a33-afa8-6f293944bede'>
				<File
					Id='I151'
					Name='N151'
					KeyPath='yes'
					LongName='Ranet.Web.Olap.pdb'
					Source='..\..\Binaries\Release\Ranet.Web.Olap.pdb'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_FRAMEWORK_BIN_RU'>
			<Component Id='C152' Guid='e22383db-e699-44cc-887d-5cbc15d680de'>
				<File
					Id='I152'
					Name='N152'
					KeyPath='yes'
					LongName='Ranet.Olap.Core.resources.dll'
					Source='..\..\Binaries\Release\ru\Ranet.Olap.Core.resources.dll'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Licences'>
			<Component Id='C153' Guid='89adbcf0-d143-437b-b166-fba471c53f4e'>
				<File
					Id='I153'
					Name='N153'
					KeyPath='yes'
					LongName='BSD-Antlr.Runtime.txt'
					Source='INSTALLDIR\Licences\BSD-Antlr.Runtime.txt'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Licences'>
			<Component Id='C154' Guid='f26faad1-9349-48e0-8a09-fc1092398ba3'>
				<File
					Id='I154'
					Name='N154'
					KeyPath='yes'
					LongName='GPL v.3.txt'
					Source='INSTALLDIR\Licences\GPL v.3.txt'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Licences'>
			<Component Id='C155' Guid='aa264e4a-fe00-4aee-864b-eb6500a6b5c1'>
				<File
					Id='I155'
					Name='N155'
					KeyPath='yes'
					LongName='Ranet.UILibrary.Olap.License.ru.rtf'
					Source='INSTALLDIR\Licences\Ranet.UILibrary.Olap.License.ru.rtf'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<ComponentGroup Id='all'>
			<ComponentRef Id='C133'/>
			<ComponentRef Id='C134'/>
			<ComponentRef Id='C135'/>
			<ComponentRef Id='C136'/>
			<ComponentRef Id='C137'/>
			<ComponentRef Id='C138'/>
			<ComponentRef Id='C139'/>
			<ComponentRef Id='C140'/>
			<ComponentRef Id='C141'/>
			<ComponentRef Id='C142'/>
			<ComponentRef Id='C143'/>
			<ComponentRef Id='C144'/>
			<ComponentRef Id='C145'/>
			<ComponentRef Id='C146'/>
			<ComponentRef Id='C147'/>
			<ComponentRef Id='C148'/>
			<ComponentRef Id='C149'/>
			<ComponentRef Id='C150'/>
			<ComponentRef Id='C151'/>
			<ComponentRef Id='C152'/>
			<ComponentRef Id='C153'/>
			<ComponentRef Id='C154'/>
			<ComponentRef Id='C155'/>
		</ComponentGroup>
	</Fragment>
</Wix>