<?xml version='1.0' encoding='windows-1251' ?>
<Wix xmlns='http://schemas.microsoft.com/wix/2003/01/wi'
     xmlns:netfx='http://schemas.microsoft.com/wix/NetFxExtension'
>
	<Fragment Id='Files.wxs'>
		<DirectoryRef Id='INSTALLDIR_SILVERLIGHT_BIN'>
			<Component Id='C3216' Guid='d7d3a994-a01a-4913-9a52-82ed4e7a45c5'>
				<File
					Id='I3216'
					Name='N3216'
					KeyPath='yes'
					LongName='Ranet.AgOlap.Core.dll'
					Source='..\..\Binaries\Release\Ranet.AgOlap.Core.dll'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_SILVERLIGHT_SYMBOLS'>
			<Component Id='C3217' Guid='ba3bb712-4a04-419a-8a27-1e857115cce4'>
				<File
					Id='I3217'
					Name='N3217'
					KeyPath='yes'
					LongName='Ranet.AgOlap.Core.pdb'
					Source='..\..\Binaries\Release\Ranet.AgOlap.Core.pdb'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_SILVERLIGHT_BIN'>
			<Component Id='C3218' Guid='40cf4170-8b51-4686-a181-da002fa9ee36'>
				<File
					Id='I3218'
					Name='N3218'
					KeyPath='yes'
					LongName='Ranet.AgOlap.Core.xml'
					Source='..\..\Binaries\Release\Ranet.AgOlap.Core.xml'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_SILVERLIGHT_BIN'>
			<Component Id='C3219' Guid='298a74e8-ef40-4b0c-a8da-157caf04a301'>
				<File
					Id='I3219'
					Name='N3219'
					KeyPath='yes'
					LongName='Ranet.AgOlap.dll'
					Source='..\..\Binaries\Release\Ranet.AgOlap.dll'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_SILVERLIGHT_BIN'>
			<Component Id='C3220' Guid='dcfd8f91-dce2-432d-a379-23f35b9fcc93'>
				<File
					Id='I3220'
					Name='N3220'
					KeyPath='yes'
					LongName='Ranet.AgOlap.Mdx.dll'
					Source='..\..\Binaries\Release\Ranet.AgOlap.Mdx.dll'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_SILVERLIGHT_SYMBOLS'>
			<Component Id='C3221' Guid='02f18e28-8b8c-407d-ae76-8e8bf04a1c8d'>
				<File
					Id='I3221'
					Name='N3221'
					KeyPath='yes'
					LongName='Ranet.AgOlap.Mdx.pdb'
					Source='..\..\Binaries\Release\Ranet.AgOlap.Mdx.pdb'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_SILVERLIGHT_BIN'>
			<Component Id='C3222' Guid='755a24a0-2fc9-4221-9133-201003e289bb'>
				<File
					Id='I3222'
					Name='N3222'
					KeyPath='yes'
					LongName='Ranet.AgOlap.Mdx.xml'
					Source='..\..\Binaries\Release\Ranet.AgOlap.Mdx.xml'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_SILVERLIGHT_SYMBOLS'>
			<Component Id='C3223' Guid='bbbc48ac-5e62-4ed0-a27b-416ff8b7f0c5'>
				<File
					Id='I3223'
					Name='N3223'
					KeyPath='yes'
					LongName='Ranet.AgOlap.pdb'
					Source='..\..\Binaries\Release\Ranet.AgOlap.pdb'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_SILVERLIGHT_BIN'>
			<Component Id='C3224' Guid='316e3ca0-5ecd-4a70-be38-647f4687de18'>
				<File
					Id='I3224'
					Name='N3224'
					KeyPath='yes'
					LongName='Ranet.AgOlap.xml'
					Source='..\..\Binaries\Release\Ranet.AgOlap.xml'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_FRAMEWORK_BIN'>
			<Component Id='C3225' Guid='b999c510-1f6a-4f60-ac4a-817b3bd697da'>
				<File
					Id='I3225'
					Name='N3225'
					KeyPath='yes'
					LongName='Ranet.Olap.Core.dll'
					Source='..\..\Binaries\Release\Ranet.Olap.Core.dll'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_FRAMEWORK_SYMBOLS'>
			<Component Id='C3226' Guid='59280566-cd19-4b41-971c-7229fda385da'>
				<File
					Id='I3226'
					Name='N3226'
					KeyPath='yes'
					LongName='Ranet.Olap.Core.pdb'
					Source='..\..\Binaries\Release\Ranet.Olap.Core.pdb'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_FRAMEWORK_BIN'>
			<Component Id='C3227' Guid='56c09297-3e92-4e79-a052-078c9b26d405'>
				<File
					Id='I3227'
					Name='N3227'
					KeyPath='yes'
					LongName='Ranet.Olap.Core.xml'
					Source='..\..\Binaries\Release\Ranet.Olap.Core.xml'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_FRAMEWORK_BIN'>
			<Component Id='C3228' Guid='b2b2acb2-57ca-499f-8812-40834965595f'>
				<File
					Id='I3228'
					Name='N3228'
					KeyPath='yes'
					LongName='Ranet.Olap.Mdx.dll'
					Source='..\..\Binaries\Release\Ranet.Olap.Mdx.dll'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_FRAMEWORK_SYMBOLS'>
			<Component Id='C3229' Guid='9c6a92de-d2b1-47f4-b787-61560b888ae0'>
				<File
					Id='I3229'
					Name='N3229'
					KeyPath='yes'
					LongName='Ranet.Olap.Mdx.pdb'
					Source='..\..\Binaries\Release\Ranet.Olap.Mdx.pdb'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_FRAMEWORK_BIN'>
			<Component Id='C3230' Guid='a7fdc09c-d62f-4821-b23d-03b0bea9b805'>
				<File
					Id='I3230'
					Name='N3230'
					KeyPath='yes'
					LongName='Ranet.Olap.Mdx.xml'
					Source='..\..\Binaries\Release\Ranet.Olap.Mdx.xml'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_FRAMEWORK_BIN'>
			<Component Id='C3231' Guid='99e866f6-d9ff-4def-ba05-2a673196b044'>
				<File
					Id='I3231'
					Name='N3231'
					KeyPath='yes'
					LongName='Ranet.Web.Olap.dll'
					Source='..\..\Binaries\Release\Ranet.Web.Olap.dll'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_FRAMEWORK_SYMBOLS'>
			<Component Id='C3232' Guid='61b096e8-2e12-49fd-8f29-6afbd582441a'>
				<File
					Id='I3232'
					Name='N3232'
					KeyPath='yes'
					LongName='Ranet.Web.Olap.xml'
					Source='..\..\Binaries\Release\Ranet.Web.Olap.xml'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_SILVERLIGHT_BIN_RU'>
			<Component Id='C3233' Guid='8ec46ead-41b1-4095-a36c-0234af451528'>
				<File
					Id='I3233'
					Name='N3233'
					KeyPath='yes'
					LongName='Ranet.AgOlap.resources.dll'
					Source='..\..\Binaries\Release\ru\Ranet.AgOlap.resources.dll'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_FRAMEWORK_SYMBOLS'>
			<Component Id='C3234' Guid='5f4a1faf-0d42-4248-88cd-d2030d0935cb'>
				<File
					Id='I3234'
					Name='N3234'
					KeyPath='yes'
					LongName='Ranet.Web.Olap.pdb'
					Source='..\..\Binaries\Release\Ranet.Web.Olap.pdb'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_FRAMEWORK_BIN_RU'>
			<Component Id='C3235' Guid='0cd558b0-8d78-4de3-a3f5-b71aace0ee8d'>
				<File
					Id='I3235'
					Name='N3235'
					KeyPath='yes'
					LongName='Ranet.Olap.Core.resources.dll'
					Source='..\..\Binaries\Release\ru\Ranet.Olap.Core.resources.dll'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Licenses'>
			<Component Id='C3236' Guid='f065669b-0249-4742-9b23-97691b0c114c'>
				<File
					Id='I3236'
					Name='N3236'
					KeyPath='yes'
					LongName='BSD-Antlr.Runtime.txt'
					Source='INSTALLDIR\Licenses\BSD-Antlr.Runtime.txt'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Licenses'>
			<Component Id='C3237' Guid='1b9eb88c-9069-478b-9877-5cd8c12c7493'>
				<File
					Id='I3237'
					Name='N3237'
					KeyPath='yes'
					LongName='GPL v.3.txt'
					Source='INSTALLDIR\Licenses\GPL v.3.txt'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLDIR_Licenses'>
			<Component Id='C3238' Guid='ffbcf6a6-03f5-4d53-beb4-08c7cdf2e64b'>
				<File
					Id='I3238'
					Name='N3238'
					KeyPath='yes'
					LongName='Ranet.UILibrary.Olap.License.ru.rtf'
					Source='INSTALLDIR\Licenses\Ranet.UILibrary.Olap.License.ru.rtf'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<ComponentGroup Id='all'>
			<ComponentRef Id='C3216'/>
			<ComponentRef Id='C3217'/>
			<ComponentRef Id='C3218'/>
			<ComponentRef Id='C3219'/>
			<ComponentRef Id='C3220'/>
			<ComponentRef Id='C3221'/>
			<ComponentRef Id='C3222'/>
			<ComponentRef Id='C3223'/>
			<ComponentRef Id='C3224'/>
			<ComponentRef Id='C3225'/>
			<ComponentRef Id='C3226'/>
			<ComponentRef Id='C3227'/>
			<ComponentRef Id='C3228'/>
			<ComponentRef Id='C3229'/>
			<ComponentRef Id='C3230'/>
			<ComponentRef Id='C3231'/>
			<ComponentRef Id='C3232'/>
			<ComponentRef Id='C3233'/>
			<ComponentRef Id='C3234'/>
			<ComponentRef Id='C3235'/>
			<ComponentRef Id='C3236'/>
			<ComponentRef Id='C3237'/>
			<ComponentRef Id='C3238'/>
		</ComponentGroup>
	</Fragment>
</Wix>