<?xml version='1.0' encoding='windows-1251' ?>
<Wix xmlns='http://schemas.microsoft.com/wix/2003/01/wi'
     xmlns:netfx='http://schemas.microsoft.com/wix/NetFxExtension'
>
	<Fragment Id='GAC.wxs'>
		<DirectoryRef Id='GlobalAssemblyCache'>
			<Component Id='C177' Guid='{36D81B95-13D5-441b-AC10-D59C7530CA17}'>
				<File
					Id='I177'
					Name='N177'
					KeyPath='yes'
					LongName='Ranet.Web.Olap.dll'
					Source='..\..\Binaries\Release\Ranet.Web.Olap.dll'
          Assembly='.net'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='GlobalAssemblyCache'>
			<Component Id='C178' Guid='{0B8CA938-7C61-466e-ACD4-57FFBDC02F95}'>
				<File
					Id='I178'
					Name='N178'
					KeyPath='yes'
					LongName='Ranet.Olap.Core.dll'
					Source='..\..\Binaries\Release\Ranet.Olap.Core.dll'
          Assembly='.net'
					Checksum='yes'
					Compressed='yes'
					DiskId='1'
				/>
			</Component>
		</DirectoryRef>

		<ComponentGroup Id='GAC'>
			<ComponentRef Id='C176'/>
			<ComponentRef Id='C177'/>
			<ComponentRef Id='C178'/>
      <ComponentRef Id='C179'/>
    </ComponentGroup>
	</Fragment>
</Wix>